openapi: 3.0.0
info:
  description: X API v2 available endpoints
  version: '2.166'
  title: X API v2 Account Activity Tweets API
  termsOfService: https://developer.x.com/en/developer-terms/agreement-and-policy.html
  contact:
    name: X Developers
    url: https://developer.x.com/
  license:
    name: X Developer Agreement and Policy
    url: https://developer.x.com/en/developer-terms/agreement-and-policy.html
servers:
- description: X API
  url: https://api.x.com
tags:
- name: Tweets
  description: Endpoints related to retrieving, searching, and modifying Tweets
  externalDocs:
    description: Find out more
    url: https://developer.twitter.com/en/docs/twitter-api/tweets/lookup
paths:
  /2/insights/28hr:
    get:
      security:
      - OAuth2UserToken:
        - tweet.read
      - UserToken: []
      tags:
      - Tweets
      summary: Get 28-hour Post insights
      description: Retrieves engagement metrics for specified Posts over the last 28 hours.
      operationId: getInsights28Hr
      parameters:
      - name: tweet_ids
        in: query
        description: List of PostIds for 28hr metrics.
        required: true
        schema:
          type: array
          minItems: 1
          maxItems: 25
          uniqueItems: true
          items:
            $ref: '#/components/schemas/TweetId'
          example:
          - '20'
        style: form
      - name: granularity
        in: query
        description: granularity of metrics response.
        required: true
        schema:
          type: string
          enum:
          - Daily
          - Hourly
          - Weekly
          - Total
          example: Total
        style: form
      - name: requested_metrics
        in: query
        description: request metrics for historical request.
        required: true
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - AppInstallAttempts
            - AppOpens
            - DetailExpands
            - EmailTweet
            - Engagements
            - Follows
            - HashtagClicks
            - Impressions
            - Likes
            - LinkClicks
            - MediaEngagements
            - MediaViews
            - PermalinkClicks
            - ProfileVisits
            - QuoteTweets
            - Replies
            - Retweets
            - UniqueVideoViews
            - UrlClicks
            - UserProfileClicks
            - VideoCompletions
            - VideoPlayed25Percent
            - VideoPlayed50Percent
            - VideoPlayed75Percent
            - VideoStarts
            - VideoViews
        style: form
      - $ref: '#/components/parameters/EngagementFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2Insights28hrResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/insights/historical:
    get:
      security:
      - OAuth2UserToken:
        - tweet.read
      - UserToken: []
      tags:
      - Tweets
      summary: Get historical Post insights
      description: Retrieves historical engagement metrics for specified Posts within a defined time range.
      operationId: getInsightsHistorical
      parameters:
      - name: tweet_ids
        in: query
        description: List of PostIds for historical metrics.
        required: true
        schema:
          type: array
          minItems: 1
          maxItems: 25
          uniqueItems: true
          items:
            $ref: '#/components/schemas/TweetId'
          example:
          - '20'
        style: form
      - name: end_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The UTC timestamp representing the end of the time range.
        required: true
        example: '2021-02-01T18:40:40.000Z'
        schema:
          type: string
          format: date-time
        style: form
      - name: start_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The UTC timestamp representing the start of the time range.
        required: true
        example: '2021-02-01T18:40:40.000Z'
        schema:
          type: string
          format: date-time
        style: form
      - name: granularity
        in: query
        description: granularity of metrics response.
        required: true
        schema:
          type: string
          enum:
          - Daily
          - Hourly
          - Weekly
          - Total
          example: Total
        style: form
      - name: requested_metrics
        in: query
        description: request metrics for historical request.
        required: true
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - AppInstallAttempts
            - AppOpens
            - DetailExpands
            - EmailTweet
            - Engagements
            - Follows
            - HashtagClicks
            - Impressions
            - Likes
            - LinkClicks
            - MediaEngagements
            - MediaViews
            - PermalinkClicks
            - ProfileVisits
            - QuoteTweets
            - Replies
            - Retweets
            - UniqueVideoViews
            - UrlClicks
            - UserProfileClicks
            - VideoCompletions
            - VideoPlayed25Percent
            - VideoPlayed50Percent
            - VideoPlayed75Percent
            - VideoStarts
            - VideoViews
        style: form
      - $ref: '#/components/parameters/EngagementFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2InsightsHistoricalResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/lists/{id}/tweets:
    get:
      security:
      - BearerToken: []
      - OAuth2UserToken:
        - list.read
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Tweets
      summary: Get List Posts
      description: Retrieves a list of Posts associated with a specific List by its ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/lists/list-tweets/api-reference/get-lists-id-tweets
      operationId: getListsPosts
      parameters:
      - name: id
        in: path
        description: The ID of the List.
        required: true
        schema:
          $ref: '#/components/schemas/ListId'
        style: simple
      - name: max_results
        in: query
        description: The maximum number of results.
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          format: int32
          default: 100
        style: form
      - name: pagination_token
        in: query
        description: This parameter is used to get the next 'page' of results.
        required: false
        schema:
          $ref: '#/components/schemas/PaginationToken36'
        style: form
      - $ref: '#/components/parameters/TweetFieldsParameter'
      - $ref: '#/components/parameters/TweetExpansionsParameter'
      - $ref: '#/components/parameters/MediaFieldsParameter'
      - $ref: '#/components/parameters/PollFieldsParameter'
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/PlaceFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2ListsIdTweetsResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/spaces/{id}/buyers:
    get:
      security:
      - OAuth2UserToken:
        - space.read
        - tweet.read
        - users.read
      tags:
      - Tweets
      summary: Get Space ticket buyers
      description: Retrieves a list of Users who purchased tickets to a specific Space by its ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/spaces/lookup/api-reference/get-spaces-id-buyers
      operationId: getSpacesBuyers
      parameters:
      - name: id
        in: path
        description: The ID of the Space to be retrieved.
        required: true
        example: 1YqKDqWqdPLsV
        schema:
          type: string
          description: The unique identifier of this Space.
          pattern: ^[a-zA-Z0-9]{1,13}$
          example: 1SLjjRYNejbKM
        style: simple
      - name: pagination_token
        in: query
        description: This parameter is used to get a specified 'page' of results.
        required: false
        schema:
          $ref: '#/components/schemas/PaginationToken32'
        style: form
      - name: max_results
        in: query
        description: The maximum number of results.
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          format: int32
          default: 100
        style: form
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/UserExpansionsParameter'
      - $ref: '#/components/parameters/TweetFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2SpacesIdBuyersResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/spaces/{id}/tweets:
    get:
      security:
      - BearerToken: []
      - OAuth2UserToken:
        - space.read
        - tweet.read
        - users.read
      tags:
      - Tweets
      summary: Get Space Posts
      description: Retrieves a list of Posts shared in a specific Space by its ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/spaces/lookup/api-reference/get-spaces-id-tweets
      operationId: getSpacesPosts
      parameters:
      - name: id
        in: path
        description: The ID of the Space to be retrieved.
        required: true
        example: 1YqKDqWqdPLsV
        schema:
          type: string
          description: The unique identifier of this Space.
          pattern: ^[a-zA-Z0-9]{1,13}$
          example: 1SLjjRYNejbKM
        style: simple
      - name: max_results
        in: query
        description: The number of Posts to fetch from the provided space. If not provided, the value will default to the maximum of 100.
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          format: int32
          default: 100
          example: 25
        style: form
      - $ref: '#/components/parameters/TweetFieldsParameter'
      - $ref: '#/components/parameters/TweetExpansionsParameter'
      - $ref: '#/components/parameters/MediaFieldsParameter'
      - $ref: '#/components/parameters/PollFieldsParameter'
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/PlaceFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2SpacesIdTweetsResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/tweets:
    get:
      security:
      - BearerToken: []
      - OAuth2UserToken:
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Tweets
      summary: Get Posts by IDs
      description: Retrieves details of multiple Posts by their IDs.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/lookup/api-reference/get-tweets
      operationId: getPostsByIds
      parameters:
      - name: ids
        in: query
        description: A comma separated list of Post IDs. Up to 100 are allowed in a single request.
        required: true
        schema:
          type: array
          minItems: 1
          maxItems: 100
          items:
            $ref: '#/components/schemas/TweetId'
        explode: false
        style: form
      - $ref: '#/components/parameters/TweetFieldsParameter'
      - $ref: '#/components/parameters/TweetExpansionsParameter'
      - $ref: '#/components/parameters/MediaFieldsParameter'
      - $ref: '#/components/parameters/PollFieldsParameter'
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/PlaceFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2TweetsResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    post:
      security:
      - OAuth2UserToken:
        - tweet.read
        - tweet.write
        - users.read
      - UserToken: []
      tags:
      - Tweets
      summary: Create or Edit Post
      description: Creates a new Post for the authenticated user, or edits an existing Post when edit_options are provided. Supports paid partnership disclosure via the paid_partnership field.
      externalDocs:
        url: https://developer.x.com/en/docs/twitter-api/tweets/manage-tweets/api-reference/post-tweets
      operationId: createPosts
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TweetCreateRequest'
        required: true
      responses:
        '201':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TweetCreateResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/tweets/analytics:
    get:
      security:
      - OAuth2UserToken:
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Tweets
      summary: Get Post analytics
      description: Retrieves analytics data for specified Posts within a defined time range.
      operationId: getPostsAnalytics
      parameters:
      - name: ids
        in: query
        description: A comma separated list of Post IDs. Up to 100 are allowed in a single request.
        required: true
        schema:
          type: array
          minItems: 1
          maxItems: 100
          items:
            $ref: '#/components/schemas/TweetId'
        explode: false
        style: form
      - name: end_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The UTC timestamp representing the end of the time range.
        required: true
        example: '2021-02-01T18:40:40.000Z'
        schema:
          type: string
          format: date-time
        style: form
      - name: start_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The UTC timestamp representing the start of the time range.
        required: true
        example: '2021-02-01T18:40:40.000Z'
        schema:
          type: string
          format: date-time
        style: form
      - name: granularity
        in: query
        description: The granularity for the search counts results.
        required: true
        schema:
          type: string
          enum:
          - hourly
          - daily
          - weekly
          - total
          default: total
        style: form
      - $ref: '#/components/parameters/AnalyticsFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Analytics'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/tweets/counts/all:
    get:
      security:
      - BearerToken: []
      tags:
      - Tweets
      summary: Get count of all Posts
      description: Retrieves the count of Posts matching a search query from the full archive.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/search/api-reference/get-tweets-search-all
      operationId: getPostsCountsAll
      parameters:
      - name: query
        in: query
        description: One query/rule/filter for matching Posts. Refer to https://t.co/rulelength to identify the max query length.
        required: true
        schema:
          type: string
          minLength: 1
          maxLength: 4096
          example: (from:TwitterDev OR from:TwitterAPI) has:media -is:retweet
        style: form
      - name: start_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The oldest UTC timestamp from which the Posts will be provided. Timestamp is in second granularity and is inclusive (i.e. 12:00:01 includes the first second of the minute).
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - name: end_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The newest, most recent UTC timestamp to which the Posts will be provided. Timestamp is in second granularity and is exclusive (i.e. 12:00:01 excludes the first second of the minute).
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - name: since_id
        in: query
        description: Returns results with a Post ID greater than (that is, more recent than) the specified ID.
        required: false
        schema:
          $ref: '#/components/schemas/TweetId'
        style: form
      - name: until_id
        in: query
        description: Returns results with a Post ID less than (that is, older than) the specified ID.
        required: false
        schema:
          $ref: '#/components/schemas/TweetId'
        style: form
      - name: next_token
        in: query
        description: This parameter is used to get the next 'page' of results. The value used with the parameter is pulled directly from the response provided by the API, and should not be modified.
        required: false
        schema:
          $ref: '#/components/schemas/PaginationToken36'
        style: form
      - name: pagination_token
        in: query
        description: This parameter is used to get the next 'page' of results. The value used with the parameter is pulled directly from the response provided by the API, and should not be modified.
        required: false
        schema:
          $ref: '#/components/schemas/PaginationToken36'
        style: form
      - name: granularity
        in: query
        description: The granularity for the search counts results.
        required: false
        schema:
          type: string
          enum:
          - minute
          - hour
          - day
          default: hour
        style: form
      - $ref: '#/components/parameters/SearchCountFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2TweetsCountsAllResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/tweets/counts/recent:
    get:
      security:
      - BearerToken: []
      tags:
      - Tweets
      summary: Get count of recent Posts
      description: Retrieves the count of Posts from the last 7 days matching a search query.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/counts/api-reference/get-tweets-counts-recent
      operationId: getPostsCountsRecent
      parameters:
      - name: query
        in: query
        description: One query/rule/filter for matching Posts. Refer to https://t.co/rulelength to identify the max query length.
        required: true
        schema:
          type: string
          minLength: 1
          maxLength: 4096
          example: (from:TwitterDev OR from:TwitterAPI) has:media -is:retweet
        style: form
      - name: start_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The oldest UTC timestamp (from most recent 7 days) from which the Posts will be provided. Timestamp is in second granularity and is inclusive (i.e. 12:00:01 includes the first second of the minute).
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - name: end_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The newest, most recent UTC timestamp to which the Posts will be provided. Timestamp is in second granularity and is exclusive (i.e. 12:00:01 excludes the first second of the minute).
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - name: since_id
        in: query
        description: Returns results with a Post ID greater than (that is, more recent than) the specified ID.
        required: false
        schema:
          $ref: '#/components/schemas/TweetId'
        style: form
      - name: until_id
        in: query
        description: Returns results with a Post ID less than (that is, older than) the specified ID.
        required: false
        schema:
          $ref: '#/components/schemas/TweetId'
        style: form
      - name: next_token
        in: query
        description: This parameter is used to get the next 'page' of results. The value used with the parameter is pulled directly from the response provided by the API, and should not be modified.
        required: false
        schema:
          $ref: '#/components/schemas/PaginationToken36'
        style: form
      - name: pagination_token
        in: query
        description: This parameter is used to get the next 'page' of results. The value used with the parameter is pulled directly from the response provided by the API, and should not be modified.
        required: false
        schema:
          $ref: '#/components/schemas/PaginationToken36'
        style: form
      - name: granularity
        in: query
        description: The granularity for the search counts results.
        required: false
        schema:
          type: string
          enum:
          - minute
          - hour
          - day
          default: hour
        style: form
      - $ref: '#/components/parameters/SearchCountFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2TweetsCountsRecentResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/tweets/firehose/stream:
    get:
      security:
      - BearerToken: []
      tags:
      - Tweets
      summary: Stream all Posts
      description: Streams all public Posts in real-time.
      operationId: streamPostsFirehose
      parameters:
      - name: backfill_minutes
        in: query
        description: The number of minutes of backfill requested.
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 5
          format: int32
        style: form
      - name: partition
        in: query
        description: The partition number.
        required: true
        schema:
          type: integer
          minimum: 1
          maximum: 20
          format: int32
        style: form
      - name: start_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The earliest UTC timestamp to which the Posts will be provided.
        required: false
        example: '2021-02-14T18:40:40.000Z'
        schema:
          type: string
          format: date-time
        style: form
      - name: end_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The latest UTC timestamp to which the Posts will be provided.
        required: false
        example: '2021-02-14T18:40:40.000Z'
        schema:
          type: string
          format: date-time
        style: form
      - $ref: '#/components/parameters/TweetFieldsParameter'
      - $ref: '#/components/parameters/TweetExpansionsParameter'
      - $ref: '#/components/parameters/MediaFieldsParameter'
      - $ref: '#/components/parameters/PollFieldsParameter'
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/PlaceFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamingTweetResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      x-twitter-streaming: true
  /2/tweets/firehose/stream/lang/en:
    get:
      security:
      - BearerToken: []
      tags:
      - Tweets
      summary: Stream English Posts
      description: Streams all public English-language Posts in real-time.
      operationId: streamPostsFirehoseEn
      parameters:
      - name: backfill_minutes
        in: query
        description: The number of minutes of backfill requested.
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 5
          format: int32
        style: form
      - name: partition
        in: query
        description: The partition number.
        required: true
        schema:
          type: integer
          minimum: 1
          maximum: 8
          format: int32
        style: form
      - name: start_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The earliest UTC timestamp to which the Posts will be provided.
        required: false
        example: '2021-02-14T18:40:40.000Z'
        schema:
          type: string
          format: date-time
        style: form
      - name: end_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The latest UTC timestamp to which the Posts will be provided.
        required: false
        example: '2021-02-14T18:40:40.000Z'
        schema:
          type: string
          format: date-time
        style: form
      - $ref: '#/components/parameters/TweetFieldsParameter'
      - $ref: '#/components/parameters/TweetExpansionsParameter'
      - $ref: '#/components/parameters/MediaFieldsParameter'
      - $ref: '#/components/parameters/PollFieldsParameter'
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/PlaceFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamingTweetResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      x-twitter-streaming: true
  /2/tweets/firehose/stream/lang/ja:
    get:
      security:
      - BearerToken: []
      tags:
      - Tweets
      summary: Stream Japanese Posts
      description: Streams all public Japanese-language Posts in real-time.
      operationId: streamPostsFirehoseJa
      parameters:
      - name: backfill_minutes
        in: query
        description: The number of minutes of backfill requested.
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 5
          format: int32
        style: form
      - name: partition
        in: query
        description: The partition number.
        required: true
        schema:
          type: integer
          minimum: 1
          maximum: 2
          format: int32
        style: form
      - name: start_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The earliest UTC timestamp to which the Posts will be provided.
        required: false
        example: '2021-02-14T18:40:40.000Z'
        schema:
          type: string
          format: date-time
        style: form
      - name: end_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The latest UTC timestamp to which the Posts will be provided.
        required: false
        example: '2021-02-14T18:40:40.000Z'
        schema:
          type: string
          format: date-time
        style: form
      - $ref: '#/components/parameters/TweetFieldsParameter'
      - $ref: '#/components/parameters/TweetExpansionsParameter'
      - $ref: '#/components/parameters/MediaFieldsParameter'
      - $ref: '#/components/parameters/PollFieldsParameter'
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/PlaceFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamingTweetResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      x-twitter-streaming: true
  /2/tweets/firehose/stream/lang/ko:
    get:
      security:
      - BearerToken: []
      tags:
      - Tweets
      summary: Stream Korean Posts
      description: Streams all public Korean-language Posts in real-time.
      operationId: streamPostsFirehoseKo
      parameters:
      - name: backfill_minutes
        in: query
        description: The number of minutes of backfill requested.
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 5
          format: int32
        style: form
      - name: partition
        in: query
        description: The partition number.
        required: true
        schema:
          type: integer
          minimum: 1
          maximum: 2
          format: int32
        style: form
      - name: start_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The earliest UTC timestamp to which the Posts will be provided.
        required: false
        example: '2021-02-14T18:40:40.000Z'
        schema:
          type: string
          format: date-time
        style: form
      - name: end_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The latest UTC timestamp to which the Posts will be provided.
        required: false
        example: '2021-02-14T18:40:40.000Z'
        schema:
          type: string
          format: date-time
        style: form
      - $ref: '#/components/parameters/TweetFieldsParameter'
      - $ref: '#/components/parameters/TweetExpansionsParameter'
      - $ref: '#/components/parameters/MediaFieldsParameter'
      - $ref: '#/components/parameters/PollFieldsParameter'
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/PlaceFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamingTweetResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      x-twitter-streaming: true
  /2/tweets/firehose/stream/lang/pt:
    get:
      security:
      - BearerToken: []
      tags:
      - Tweets
      summary: Stream Portuguese Posts
      description: Streams all public Portuguese-language Posts in real-time.
      operationId: streamPostsFirehosePt
      parameters:
      - name: backfill_minutes
        in: query
        description: The number of minutes of backfill requested.
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 5
          format: int32
        style: form
      - name: partition
        in: query
        description: The partition number.
        required: true
        schema:
          type: integer
          minimum: 1
          maximum: 2
          format: int32
        style: form
      - name: start_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The earliest UTC timestamp to which the Posts will be provided.
        required: false
        example: '2021-02-14T18:40:40.000Z'
        schema:
          type: string
          format: date-time
        style: form
      - name: end_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The latest UTC timestamp to which the Posts will be provided.
        required: false
        example: '2021-02-14T18:40:40.000Z'
        schema:
          type: string
          format: date-time
        style: form
      - $ref: '#/components/parameters/TweetFieldsParameter'
      - $ref: '#/components/parameters/TweetExpansionsParameter'
      - $ref: '#/components/parameters/MediaFieldsParameter'
      - $ref: '#/components/parameters/PollFieldsParameter'
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/PlaceFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamingTweetResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      x-twitter-streaming: true
  /2/tweets/sample/stream:
    get:
      security:
      - BearerToken: []
      tags:
      - Tweets
      summary: Stream sampled Posts
      description: Streams a 1% sample of public Posts in real-time.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/volume-streams/api-reference/get-tweets-sample-stream
      operationId: streamPostsSample
      parameters:
      - name: backfill_minutes
        in: query
        description: The number of minutes of backfill requested.
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 5
          format: int32
        style: form
      - $ref: '#/components/parameters/TweetFieldsParameter'
      - $ref: '#/components/parameters/TweetExpansionsParameter'
      - $ref: '#/components/parameters/MediaFieldsParameter'
      - $ref: '#/components/parameters/PollFieldsParameter'
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/PlaceFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamingTweetResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      x-twitter-streaming: true
  /2/tweets/sample10/stream:
    get:
      security:
      - BearerToken: []
      tags:
      - Tweets
      summary: Stream 10% sampled Posts
      description: Streams a 10% sample of public Posts in real-time.
      operationId: streamPostsSample10
      parameters:
      - name: backfill_minutes
        in: query
        description: The number of minutes of backfill requested.
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 5
          format: int32
        style: form
      - name: partition
        in: query
        description: The partition number.
        required: true
        schema:
          type: integer
          minimum: 1
          maximum: 2
          format: int32
        style: form
      - name: start_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The earliest UTC timestamp to which the Posts will be provided.
        required: false
        example: '2021-02-14T18:40:40.000Z'
        schema:
          type: string
          format: date-time
        style: form
      - name: end_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The latest UTC timestamp to which the Posts will be provided.
        required: false
        example: '2021-02-14T18:40:40.000Z'
        schema:
          type: string
          format: date-time
        style: form
      - $ref: '#/components/parameters/TweetFieldsParameter'
      - $ref: '#/components/parameters/TweetExpansionsParameter'
      - $ref: '#/components/parameters/MediaFieldsParameter'
      - $ref: '#/components/parameters/PollFieldsParameter'
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/PlaceFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2TweetsSample10StreamResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      x-twitter-streaming: true
  /2/tweets/search/all:
    get:
      security:
      - BearerToken: []
      tags:
      - Tweets
      summary: Search all Posts
      description: Retrieves Posts from the full archive matching a search query.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/search/api-reference/get-tweets-search-all
      operationId: searchPostsAll
      parameters:
      - name: query
        in: query
        description: One query/rule/filter for matching Posts. Refer to https://t.co/rulelength to identify the max query length.
        required: true
        schema:
          type: string
          minLength: 1
          maxLength: 4096
          example: (from:TwitterDev OR from:TwitterAPI) has:media -is:retweet
        style: form
      - name: start_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The oldest UTC timestamp from which the Posts will be provided. Timestamp is in second granularity and is inclusive (i.e. 12:00:01 includes the first second of the minute).
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - name: end_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The newest, most recent UTC timestamp to which the Posts will be provided. Timestamp is in second granularity and is exclusive (i.e. 12:00:01 excludes the first second of the minute).
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - name: since_id
        in: query
        description: Returns results with a Post ID greater than (that is, more recent than) the specified ID.
        required: false
        schema:
          $ref: '#/components/schemas/TweetId'
        style: form
      - name: until_id
        in: query
        description: Returns results with a Post ID less than (that is, older than) the specified ID.
        required: false
        schema:
          $ref: '#/components/schemas/TweetId'
        style: form
      - name: max_results
        in: query
        description: The maximum number of search results to be returned by a request.
        required: false
        schema:
          type: integer
          minimum: 10
          maximum: 500
          format: int32
          default: 10
        style: form
      - name: next_token
        in: query
        description: This parameter is used to get the next 'page' of results. The value used with the parameter is pulled directly from the response provided by the API, and should not be modified.
        required: false
        schema:
          $ref: '#/components/schemas/PaginationToken36'
        style: form
      - name: pagination_token
        in: query
        description: This parameter is used to get the next 'page' of results. The value used with the parameter is pulled directly from the response provided by the API, and should not be modified.
        required: false
        schema:
          $ref: '#/components/schemas/PaginationToken36'
        style: form
      - name: sort_order
        in: query
        description: This order in which to return results.
        required: false
        schema:
          type: string
          enum:
          - recency
          - relevancy
        style: form
      - $ref: '#/components/parameters/TweetFieldsParameter'
      - $ref: '#/components/parameters/TweetExpansionsParameter'
      - $ref: '#/components/parameters/MediaFieldsParameter'
      - $ref: '#/components/parameters/PollFieldsParameter'
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/PlaceFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2TweetsSearchAllResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/tweets/search/recent:
    get:
      security:
      - BearerToken: []
      - OAuth2UserToken:
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Tweets
      summary: Search recent Posts
      description: Retrieves Posts from the last 7 days matching a search query.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/search/api-reference/get-tweets-search-recent
      operationId: searchPostsRecent
      parameters:
      - name: query
        in: query
        description: One query/rule/filter for matching Posts. Refer to https://t.co/rulelength to identify the max query length.
        required: true
        schema:
          type: string
          minLength: 1
          maxLength: 4096
          example: (from:TwitterDev OR from:TwitterAPI) has:media -is:retweet
        style: form
      - name: start_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The oldest UTC timestamp from which the Posts will be provided. Timestamp is in second granularity and is inclusive (i.e. 12:00:01 includes the first second of the minute).
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - name: end_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The newest, most recent UTC timestamp to which the Posts will be provided. Timestamp is in second granularity and is exclusive (i.e. 12:00:01 excludes the first second of the minute).
        required: false
        schema:
          type: string
          format: date-time
        style: form
      - name: since_id
        in: query
        description: Returns results with a Post ID greater than (that is, more recent than) the specified ID.
        required: false
        schema:
          $ref: '#/components/schemas/TweetId'
        style: form
      - name: until_id
        in: query
        description: Returns results with a Post ID less than (that is, older than) the specified ID.
        required: false
        schema:
          $ref: '#/components/schemas/TweetId'
        style: form
      - name: max_results
        in: query
        description: The maximum number of search results to be returned by a request.
        required: false
        schema:
          type: integer
          minimum: 10
          maximum: 100
          format: int32
          default: 10
        style: form
      - name: next_token
        in: query
        description: This parameter is used to get the next 'page' of results. The value used with the parameter is pulled directly from the response provided by the API, and should not be modified.
        required: false
        schema:
          $ref: '#/components/schemas/PaginationToken36'
        style: form
      - name: pagination_token
        in: query
        description: This parameter is used to get the next 'page' of results. The value used with the parameter is pulled directly from the response provided by the API, and should not be modified.
        required: false
        schema:
          $ref: '#/components/schemas/PaginationToken36'
        style: form
      - name: sort_order
        in: query
        description: This order in which to return results.
        required: false
        schema:
          type: string
          enum:
          - recency
          - relevancy
        style: form
      - $ref: '#/components/parameters/TweetFieldsParameter'
      - $ref: '#/components/parameters/TweetExpansionsParameter'
      - $ref: '#/components/parameters/MediaFieldsParameter'
      - $ref: '#/components/parameters/PollFieldsParameter'
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/PlaceFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2TweetsSearchRecentResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/tweets/search/stream:
    get:
      security:
      - BearerToken: []
      tags:
      - Tweets
      summary: Stream filtered Posts
      description: Streams Posts in real-time matching the active rule set.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/filtered-stream/api-reference/get-tweets-search-stream
      operationId: streamPosts
      parameters:
      - name: backfill_minutes
        in: query
        description: The number of minutes of backfill requested.
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 5
          format: int32
        style: form
      - name: start_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The earliest UTC timestamp from which the Posts will be provided.
        required: false
        example: '2021-02-01T18:40:40.000Z'
        schema:
          type: string
          format: date-time
        style: form
      - name: end_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The latest UTC timestamp to which the Posts will be provided.
        required: false
        example: '2021-02-14T18:40:40.000Z'
        schema:
          type: string
          format: date-time
        style: form
      - $ref: '#/components/parameters/TweetFieldsParameter'
      - $ref: '#/components/parameters/TweetExpansionsParameter'
      - $ref: '#/components/parameters/MediaFieldsParameter'
      - $ref: '#/components/parameters/PollFieldsParameter'
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/PlaceFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilteredStreamingTweetResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      x-twitter-streaming: true
  /2/tweets/search/stream/rules:
    get:
      security:
      - BearerToken: []
      tags:
      - Tweets
      summary: Get stream rules
      description: Retrieves the active rule set or a subset of rules for the filtered stream.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/filtered-stream/api-reference/get-tweets-search-stream-rules
      operationId: getRules
      parameters:
      - name: ids
        in: query
        description: A comma-separated list of Rule IDs.
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/RuleId'
        style: form
      - name: max_results
        in: query
        description: The maximum number of results.
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          format: int32
          default: 1000
        style: form
      - name: pagination_token
        in: query
        description: This value is populated by passing the 'next_token' returned in a request to paginate through results.
        required: false
        schema:
          type: string
          minLength: 16
          maxLength: 16
        style: form
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RulesLookupResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    post:
      security:
      - BearerToken: []
      tags:
      - Tweets
      summary: Update stream rules
      description: Adds or deletes rules from the active rule set for the filtered stream.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/filtered-stream/api-reference/post-tweets-search-stream-rules
      operationId: updateRules
      parameters:
      - name: dry_run
        in: query
        description: Dry Run can be used with both the add and delete action, with the expected result given, but without actually taking any action in the system (meaning the end state will always be as it was when the request was submitted). This is particularly useful to validate rule changes.
        required: false
        schema:
          type: boolean
        style: form
      - name: delete_all
        in: query
        description: Delete All can be used to delete all of the rules associated this client app, it should be specified with no other parameters. Once deleted, rules cannot be recovered.
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddOrDeleteRulesRequest'
        required: true
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddOrDeleteRulesResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/tweets/search/stream/rules/counts:
    get:
      security:
      - BearerToken: []
      tags:
      - Tweets
      summary: Get stream rule counts
      description: Retrieves the count of rules in the active rule set for the filtered stream.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/filtered-stream/api-reference/get-tweets-search-stream-rules-counts
      operationId: getRuleCounts
      parameters:
      - $ref: '#/components/parameters/RulesCountFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2TweetsSearchStreamRulesCountsResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/tweets/{id}:
    delete:
      security:
      - OAuth2UserToken:
        - tweet.read
        - tweet.write
        - users.read
      - UserToken: []
      tags:
      - Tweets
      summary: Delete Post
      description: Deletes a specific Post by its ID, if owned by the authenticated user.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/manage-tweets/api-reference/delete-tweets-id
      operationId: deletePosts
      parameters:
      - name: id
        in: path
        description: The ID of the Post to be deleted.
        required: true
        schema:
          $ref: '#/components/schemas/TweetId'
        style: simple
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TweetDeleteResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    get:
      security:
      - BearerToken: []
      - OAuth2UserToken:
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Tweets
      summary: Get Post by ID
      description: Retrieves details of a specific Post by its ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/lookup/api-reference/get-tweets-id
      operationId: getPostsById
      parameters:
      - name: id
        in: path
        description: A single Post ID.
        required: true
        schema:
          $ref: '#/components/schemas/TweetId'
        style: simple
      - $ref: '#/components/parameters/TweetFieldsParameter'
      - $ref: '#/components/parameters/TweetExpansionsParameter'
      - $ref: '#/components/parameters/MediaFieldsParameter'
      - $ref: '#/components/parameters/PollFieldsParameter'
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/PlaceFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2TweetsIdResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/tweets/{id}/liking_users:
    get:
      security:
      - OAuth2UserToken:
        - like.read
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Tweets
      summary: Get Liking Users
      description: Retrieves a list of Users who liked a specific Post by its ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/likes/api-reference/get-tweets-id-liking_users
      operationId: getPostsLikingUsers
      parameters:
      - name: id
        in: path
        description: A single Post ID.
        required: true
        schema:
          $ref: '#/components/schemas/TweetId'
        style: simple
      - name: max_results
        in: query
        description: The maximum number of results.
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          format: int32
          default: 100
        style: form
      - name: pagination_token
        in: query
        description: This parameter is used to get the next 'page' of results.
        required: false
        schema:
          $ref: '#/components/schemas/PaginationToken36'
        style: form
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/UserExpansionsParameter'
      - $ref: '#/components/parameters/TweetFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2TweetsIdLikingUsersResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/tweets/{id}/quote_tweets:
    get:
      security:
      - BearerToken: []
      - OAuth2UserToken:
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Tweets
      summary: Get Quoted Posts
      description: Retrieves a list of Posts that quote a specific Post by its ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/quote-tweets/api-reference/get-tweets-id-quote_tweets
      operationId: getPostsQuotedPosts
      parameters:
      - name: id
        in: path
        description: A single Post ID.
        required: true
        schema:
          $ref: '#/components/schemas/TweetId'
        style: simple
      - name: max_results
        in: query
        description: The maximum number of results to be returned.
        required: false
        schema:
          type: integer
          minimum: 10
          maximum: 100
          format: int32
          default: 10
        style: form
      - name: pagination_token
        in: query
        description: This parameter is used to get a specified 'page' of results.
        required: false
        schema:
          $ref: '#/components/schemas/PaginationToken36'
        style: form
      - name: exclude
        in: query
        description: The set of entities to exclude (e.g. 'replies' or 'retweets').
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - replies
            - retweets
          example:
          - replies
          - retweets
        explode: false
        style: form
      - $ref: '#/components/parameters/TweetFieldsParameter'
      - $ref: '#/components/parameters/TweetExpansionsParameter'
      - $ref: '#/components/parameters/MediaFieldsParameter'
      - $ref: '#/components/parameters/PollFieldsParameter'
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/PlaceFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2TweetsIdQuoteTweetsResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/tweets/{id}/retweeted_by:
    get:
      security:
      - BearerToken: []
      - OAuth2UserToken:
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Tweets
      summary: Get Reposted by
      description: Retrieves a list of Users who reposted a specific Post by its ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/retweets/api-reference/get-tweets-id-retweeted_by
      operationId: getPostsRepostedBy
      parameters:
      - name: id
        in: path
        description: A single Post ID.
        required: true
        schema:
          $ref: '#/components/schemas/TweetId'
        style: simple
      - name: max_results
        in: query
        description: The maximum number of results.
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          format: int32
          default: 100
        style: form
      - name: pagination_token
        in: query
        description: This parameter is used to get the next 'page' of results.
        required: false
        schema:
          $ref: '#/components/schemas/PaginationToken36'
        style: form
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/UserExpansionsParameter'
      - $ref: '#/components/parameters/TweetFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2TweetsIdRetweetedByResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/tweets/{id}/retweets:
    get:
      security:
      - BearerToken: []
      - OAuth2UserToken:
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Tweets
      summary: Get Reposts
      description: Retrieves a list of Posts that repost a specific Post by its ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/retweets/api-reference/get-tweets-id-retweets
      operationId: getPostsReposts
      parameters:
      - name: id
        in: path
        description: A single Post ID.
        required: true
        schema:
          $ref: '#/components/schemas/TweetId'
        style: simple
      - name: max_results
        in: query
        description: The maximum number of results.
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          format: int32
          default: 100
        style: form
      - name: pagination_token
        in: query
        description: This parameter is used to get the next 'page' of results.
        required: false
        schema:
          $ref: '#/components/schemas/PaginationToken36'
        style: form
      - $ref: '#/components/parameters/TweetFieldsParameter'
      - $ref: '#/components/parameters/TweetExpansionsParameter'
      - $ref: '#/components/parameters/MediaFieldsParameter'
      - $ref: '#/components/parameters/PollFieldsParameter'
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/PlaceFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2TweetsIdRetweetsResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/tweets/{tweet_id}/hidden:
    put:
      security:
      - OAuth2UserToken:
        - tweet.moderate.write
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Tweets
      summary: Hide reply
      description: Hides or unhides a reply to a conversation owned by the authenticated user.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/hide-replies/api-reference/put-tweets-id-hidden
      operationId: hidePostsReply
      parameters:
      - name: tweet_id
        in: path
        description: The ID of the reply that you want to hide or unhide.
        required: true
        schema:
          $ref: '#/components/schemas/TweetId'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TweetHideRequest'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TweetHideResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/liked_tweets:
    get:
      security:
      - OAuth2UserToken:
        - like.read
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Tweets
      summary: Get liked Posts
      description: Retrieves a list of Posts liked by a specific User by their ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/likes/api-reference/get-users-id-liked_tweets
      operationId: getUsersLikedPosts
      parameters:
      - name: id
        in: path
        description: The ID of the User to lookup.
        required: true
        example: '2244994945'
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - name: max_results
        in: query
        description: The maximum number of results.
        required: false
        schema:
          type: integer
          minimum: 5
          maximum: 100
          format: int32
        style: form
      - name: pagination_token
        in: query
        description: This parameter is used to get the next 'page' of results.
        required: false
        schema:
          $ref: '#/components/schemas/PaginationToken36'
        style: form
      - $ref: '#/components/parameters/TweetFieldsParameter'
      - $ref: '#/components/parameters/TweetExpansionsParameter'
      - $ref: '#/components/parameters/MediaFieldsParameter'
      - $ref: '#/components/parameters/PollFieldsParameter'
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/PlaceFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2UsersIdLikedTweetsResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/likes:
    post:
      security:
      - OAuth2UserToken:
        - like.write
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Tweets
      summary: Like Post
      description: Causes the authenticated user to Like a specific Post by its ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/likes/api-reference/post-users-id-likes
      operationId: likePost
      parameters:
      - name: id
        in: path
        description: The ID of the authenticated source User that is requesting to like the Post.
        required: true
        schema:
          $ref: '#/components/schemas/UserIdMatchesAuthenticatedUser'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersLikesCreateRequest'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersLikesCreateResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/likes/{tweet_id}:
    delete:
      security:
      - OAuth2UserToken:
        - like.write
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Tweets
      summary: Unlike Post
      description: Causes the authenticated user to Unlike a specific Post by its ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/likes/api-reference/delete-users-id-likes-tweet_id
      operationId: unlikePost
      parameters:
      - name: id
        in: path
        description: The ID of the authenticated source User that is requesting to unlike the Post.
        required: true
        schema:
          $ref: '#/components/schemas/UserIdMatchesAuthenticatedUser'
        style: simple
      - name: tweet_id
        in: path
        description: The ID of the Post that the User is requesting to unlike.
        required: true
        schema:
          $ref: '#/components/schemas/TweetId'
        style: simple
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersLikesDeleteResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/mentions:
    get:
      security:
      - BearerToken: []
      - OAuth2UserToken:
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Tweets
      summary: Get mentions
      description: Retrieves a list of Posts that mention a specific User by their ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/timelines/api-reference/get-users-id-mentions
      operationId: getUsersMentions
      parameters:
      - name: id
        in: path
        description: The ID of the User to lookup.
        required: true
        example: '2244994945'
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - name: since_id
        in: query
        description: The minimum Post ID to be included in the result set. This parameter takes precedence over start_time if both are specified.
        required: false
        schema:
          $ref: '#/components/schemas/TweetId'
        style: form
      - name: until_id
        in: query
        description: The maximum Post ID to be included in the result set. This parameter takes precedence over end_time if both are specified.
        required: false
        example: '1346889436626259968'
        schema:
          $ref: '#/components/schemas/TweetId'
        style: form
      - name: max_results
        in: query
        description: The maximum number of results.
        required: false
        schema:
          type: integer
          minimum: 5
          maximum: 100
          format: int32
        style: form
      - name: pagination_token
        in: query
        description: This parameter is used to get the next 'page' of results.
        required: false
        schema:
          $ref: '#/components/schemas/PaginationToken36'
        style: form
      - name: start_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The earliest UTC timestamp from which the Posts will be provided. The since_id parameter takes precedence if it is also specified.
        required: false
        example: '2021-02-01T18:40:40.000Z'
        schema:
          type: string
          format: date-time
        style: form
      - name: end_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The latest UTC timestamp to which the Posts will be provided. The until_id parameter takes precedence if it is also specified.
        required: false
        example: '2021-02-14T18:40:40.000Z'
        schema:
          type: string
          format: date-time
        style: form
      - $ref: '#/components/parameters/TweetFieldsParameter'
      - $ref: '#/components/parameters/TweetExpansionsParameter'
      - $ref: '#/components/parameters/MediaFieldsParameter'
      - $ref: '#/components/parameters/PollFieldsParameter'
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/PlaceFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2UsersIdMentionsResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/retweets:
    post:
      security:
      - OAuth2UserToken:
        - tweet.read
        - tweet.write
        - users.read
      - UserToken: []
      tags:
      - Tweets
      summary: Repost Post
      description: Causes the authenticated user to repost a specific Post by its ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/retweets/api-reference/post-users-id-retweets
      operationId: repostPost
      parameters:
      - name: id
        in: path
        description: The ID of the authenticated source User that is requesting to repost the Post.
        required: true
        schema:
          $ref: '#/components/schemas/UserIdMatchesAuthenticatedUser'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersRetweetsCreateRequest'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersRetweetsCreateResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/retweets/{source_tweet_id}:
    delete:
      security:
      - OAuth2UserToken:
        - tweet.read
        - tweet.write
        - users.read
      - UserToken: []
      tags:
      - Tweets
      summary: Unrepost Post
      description: Causes the authenticated user to unrepost a specific Post by its ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/retweets/api-reference/delete-users-id-retweets-tweet_id
      operationId: unrepostPost
      parameters:
      - name: id
        in: path
        description: The ID of the authenticated source User that is requesting to repost the Post.
        required: true
        schema:
          $ref: '#/components/schemas/UserIdMatchesAuthenticatedUser'
        style: simple
      - name: source_tweet_id
        in: path
        description: The ID of the Post that the User is requesting to unretweet.
        required: true
        schema:
          $ref: '#/components/schemas/TweetId'
        style: simple
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersRetweetsDeleteResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/timelines/reverse_chronological:
    get:
      security:
      - OAuth2UserToken:
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Tweets
      summary: Get Timeline
      description: Retrieves a reverse chronological list of Posts in the authenticated User’s Timeline.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/timelines/api-reference/get-users-id-reverse-chronological
      operationId: getUsersTimeline
      parameters:
      - name: id
        in: path
        description: The ID of the authenticated source User to list Reverse Chronological Timeline Posts of.
        required: true
        schema:
          $ref: '#/components/schemas/UserIdMatchesAuthenticatedUser'
        style: simple
      - name: since_id
        in: query
        description: The minimum Post ID to be included in the result set. This parameter takes precedence over start_time if both are specified.
        required: false
        example: '791775337160081409'
        schema:
          $ref: '#/components/schemas/TweetId'
        style: form
      - name: until_id
        in: query
        description: The maximum Post ID to be included in the result set. This parameter takes precedence over end_time if both are specified.
        required: false
        example: '1346889436626259968'
        schema:
          $ref: '#/components/schemas/TweetId'
        style: form
      - name: max_results
        in: query
        description: The maximum number of results.
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          format: int32
        style: form
      - name: pagination_token
        in: query
        description: This parameter is used to get the next 'page' of results.
        required: false
        schema:
          $ref: '#/components/schemas/PaginationToken36'
        style: form
      - name: exclude
        in: query
        description: The set of entities to exclude (e.g. 'replies' or 'retweets').
        required: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            enum:
            - replies
            - retweets
          example:
          - replies
          - retweets
        explode: false
        style: form
      - name: start_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The earliest UTC timestamp from which the Posts will be provided. The since_id parameter takes precedence if it is also specified.
        required: false
        example: '2021-02-01T18:40:40.000Z'
        schema:
          type: string
          format: date-time
        style: form
      - name: end_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The latest UTC timestamp to which the Posts will be provided. The until_id parameter takes precedence if it is also specified.
        required: false
        example: '2021-02-14T18:40:40.000Z'
        schema:
          type: string
          format: date-time
        style: form
      - $ref: '#/components/parameters/TweetFieldsParameter'
      - $ref: '#/components/parameters/TweetExpansionsParameter'
      - $ref: '#/components/parameters/MediaFieldsParameter'
      - $ref: '#/components/parameters/PollFieldsParameter'
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/PlaceFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2UsersIdTimelinesReverseChronologicalResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/tweets:
    get:
      security:
      - BearerToken: []
      - OAuth2UserToken:
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Tweets
      summary: Get Posts
      description: Retrieves a list of posts authored by a specific User by their ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/timelines/api-reference/get-users-id-tweets
      operationId: getUsersPosts
      parameters:
      - name: id
        in: path
        description: The ID of the User to lookup.
        required: true
        example: '2244994945'
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - name: since_id
        in: query
        description: The minimum Post ID to be included in the result set. This parameter takes precedence over start_time if both are specified.
        required: false
        example: '791775337160081409'
        schema:
          $ref: '#/components/schemas/TweetId'
        style: form
      - name: until_id
        in: query
        description: The maximum Post ID to be included in the result set. This parameter takes precedence over end_time if both are specified.
        required: false
        example: '1346889436626259968'
        schema:
          $ref: '#/components/schemas/TweetId'
        style: form
      - name: max_results
        in: query
        description: The maximum number of results.
        required: false
        schema:
          type: integer
          minimum: 5
          maximum: 100
          format: int32
        style: form
      - name: pagination_token
        in: query
        description: This parameter is used to get the next 'page' of results.
        required: false
        schema:
          $ref: '#/components/schemas/PaginationToken36'
        style: form
      - name: exclude
        in: query
        description: The set of entities to exclude (e.g. 'replies' or 'retweets').
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - replies
            - retweets
          example:
          - replies
          - retweets
        explode: false
        style: form
      - name: start_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The earliest UTC timestamp from which the Posts will be provided. The since_id parameter takes precedence if it is also specified.
        required: false
        example: '2021-02-01T18:40:40.000Z'
        schema:
          type: string
          format: date-time
        style: form
      - name: end_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The latest UTC timestamp to which the Posts will be provided. The until_id parameter takes precedence if it is also specified.
        required: false
        example: '2021-02-14T18:40:40.000Z'
        schema:
          type: string
          format: date-time
        style: form
      - $ref: '#/components/parameters/TweetFieldsParameter'
      - $ref: '#/components/parameters/TweetExpansionsParameter'
      - $ref: '#/components/parameters/MediaFieldsParameter'
      - $ref: '#/components/parameters/PollFieldsParameter'
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/PlaceFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2UsersIdTweetsResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
components:
  schemas:
    HashtagEntity:
      allOf:
      - $ref: '#/components/schemas/EntityIndicesInclusiveExclusive'
      - $ref: '#/components/schemas/HashtagFields'
    MediaId:
      type: string
      description: The unique identifier of this Media.
      pattern: ^[0-9]{1,19}$
      example: '1146654567674912769'
    Get2ListsIdTweetsResponse:
      type: object
      properties:
        data:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/Tweet'
        errors:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/Problem'
        includes:
          $ref: '#/components/schemas/Expansions'
        meta:
          type: object
          properties:
            next_token:
              $ref: '#/components/schemas/NextToken'
            previous_token:
              $ref: '#/components/schemas/PreviousToken'
            result_count:
              $ref: '#/components/schemas/ResultCount'
    PaginationToken36:
      type: string
      description: A base36 pagination token.
      minLength: 1
    User:
      type: object
      description: The X User object.
      required:
      - id
      - name
      - username
      properties:
        affiliation:
          type: object
          description: Metadata about a user's affiliation.
          properties:
            badge_url:
              type: string
              description: The badge URL corresponding to the affiliation.
              format: uri
            description:
              type: string
              description: The description of the affiliation.
            url:
              type: string
              description: The URL, if available, to details about an affiliation.
              format: uri
            user_id:
              type: array
              minItems: 1
              items:
                $ref: '#/components/schemas/UserId'
        connection_status:
          type: array
          description: Returns detailed information about the relationship between two users.
          minItems: 0
          items:
            type: string
            description: Type of connection between users.
            enum:
            - follow_request_received
            - follow_request_sent
            - blocking
            - followed_by
            - following
            - muting
        created_at:
          type: string
          description: Creation time of this User.
          format: date-time
        description:
          type: string
          description: The text of this User's profile description (also known as bio), if the User provided one.
        entities:
          type: object
          description: A list of metadata found in the User's profile description.
          properties:
            description:
              $ref: '#/components/schemas/FullTextEntities'
            url:
              type: object
              description: Expanded details for the URL specified in the User's profile, with start and end indices.
              properties:
                urls:
                  type: array
                  minItems: 1
                  items:
                    $ref: '#/components/schemas/UrlEntity'
        id:
          $ref: '#/components/schemas/UserId'
        location:
          type: string
          description: The location specified in the User's profile, if the User provided one. As this is a freeform value, it may not indicate a valid location, but it may be fuzzily evaluated when performing searches with location queries.
        most_recent_tweet_id:
          $ref: '#/components/schemas/TweetId'
        name:
          type: string
          description: The friendly name of this User, as shown on their profile.
        pinned_tweet_id:
          $ref: '#/components/schemas/TweetId'
        profile_banner_url:
          type: string
          description: The URL to the profile banner for this User.
          format: uri
        profile_image_url:
          type: string
          description: The URL to the profile image for this User.
          format: uri
        protected:
          type: boolean
          description: Indicates if this User has chosen to protect their Posts (in other words, if this User's Posts are private).
        public_metrics:
          type: object
          description: A list of metrics for this User.
          required:
          - followers_count
          - following_count
          - tweet_count
          - listed_count
          properties:
            followers_count:
              type: integer
              description: Number of Users who are following this User.
            following_count:
              type: integer
              description: Number of Users this User is following.
            like_count:
              type: integer
              description: The number of likes created by this User.
            listed_count:
              type: integer
              description: The number of lists that include this User.
            tweet_count:
              type: integer
              description: The number of Posts (including Retweets) posted by this User.
        receives_your_dm:
          type: boolean
          description: Indicates if you can send a DM to this User
        subscription_type:
          type: string
          description: 'The X Blue subscription type of the user, eg: Basic, Premium, PremiumPlus or None.'
          enum:
          - Basic
          - Premium
          - PremiumPlus
          - None
        url:
          type: string
          description: The URL specified in the User's profile.
        username:
          $ref: '#/components/schemas/UserName'
        verified:
          type: boolean
          description: Indicate if this User is a verified X User.
        verified_type:
          type: string
          description: 'The X Blue verified type of the user, eg: blue, government, business or none.'
          enum:
          - blue
          - government
          - business
          - none
        withheld:
          $ref: '#/components/schemas/UserWithheld'
      example:
        created_at: '2013-12-14T04:35:55Z'
        id: '2244994945'
        name: X Dev
        protected: false
        username: TwitterDev
    Rule:
      type: object
      description: A user-provided stream filtering rule.
      required:
      - value
      properties:
        id:
          $ref: '#/components/schemas/RuleId'
        tag:
          $ref: '#/components/schemas/RuleTag'
        value:
          $ref: '#/components/schemas/RuleValue'
    Get2TweetsCountsRecentResponse:
      type: object
      properties:
        data:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/SearchCount'
        errors:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/Problem'
        meta:
          type: object
          properties:
            newest_id:
              $ref: '#/components/schemas/NewestId'
            next_token:
              $ref: '#/components/schemas/NextToken'
            oldest_id:
              $ref: '#/components/schemas/OldestId'
            total_tweet_count:
              $ref: '#/components/schemas/Aggregate'
    ContextAnnotation:
      type: object
      description: Annotation inferred from the Tweet text.
      required:
      - domain
      - entity
      properties:
        domain:
          $ref: '#/components/schemas/ContextAnnotationDomainFields'
        entity:
          $ref: '#/components/schemas/ContextAnnotationEntityFields'
    Metrics:
      type: object
      properties:
        app_install_attempts:
          type: integer
          title: App Install Attempts
          description: Tracks number of App Install Attempts
        app_opens:
          type: integer
          title: App Opens
          description: Tracks number of App opens
        detail_expands:
          type: integer
          title: Detail Expands
          description: Tracks number of Detail expands
        email_tweet:
          type: integer
          title: Email Tweet
          description: Tracks number of Email Tweet actions
        engagements:
          type: integer
          title: Engagements
          description: Tracks total Engagements
        follows:
          type: integer
          title: Follows
          description: Tracks number of Follows
        hashtag_clicks:
          type: integer
          title: Hashtag Clicks
          description: Tracks number of Hashtag clicks
        impressions:
          type: integer
          title: Impressions
          description: Tracks number of Impressions
        likes:
          type: integer
          title: Likes
          description: Tracks number of Likes
        link_clicks:
          type: integer
          title: Link Clicks
          description: Tracks number of Link clicks
        media_engagements:
          type: integer
          title: Media Engagements
          description: Tracks number of Media engagements
        media_views:
          type: integer
          title: Media Views
          description: Tracks number of Media views
        permalink_clicks:
          type: integer
          title: Permalink Clicks
          description: Tracks number of Permalink clicks
        profile_visits:
          type: integer
          title: Profile Visits
          description: Tracks number of Profile visits
        quote_tweets:
          type: integer
          title: Quote Tweets
          description: Tracks number of Quote Tweets
        replies:
          type: integer
          title: Replies
          description: Tracks number of Replies
        retweets:
          type: integer
          title: Retweets
          description: Tracks number of Retweets
        url_clicks:
          type: integer
          title: URL Clicks
          description: Tracks number of URL clicks
        user_profile_clicks:
          type: integer
          title: User Profile Clicks
          description: Tracks number of User Profile clicks
    FilteredStreamingTweetResponse:
      type: object
      description: A Tweet or error that can be returned by the streaming Tweet API. The values returned with a successful streamed Tweet includes the user provided rules that the Tweet matched.
      properties:
        data:
          $ref: '#/components/schemas/Tweet'
        errors:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/Problem'
        includes:
          $ref: '#/components/schemas/Expansions'
        matching_rules:
          type: array
          description: The list of rules which matched the Tweet
          items:
            type: object
            required:
            - id
            properties:
              id:
                $ref: '#/components/schemas/RuleId'
              tag:
                $ref: '#/components/schemas/RuleTag'
    UserWithheld:
      type: object
      description: Indicates withholding details for [withheld content](https://help.twitter.com/en/rules-and-policies/tweet-withheld-by-country).
      required:
      - country_codes
      properties:
        country_codes:
          type: array
          description: Provides a list of countries where this content is not available.
          minItems: 1
          uniqueItems: true
          items:
            $ref: '#/components/schemas/CountryCode'
        scope:
          type: string
          description: Indicates that the content being withheld is a `user`.
          enum:
          - user
    Problem:
      type: object
      description: An HTTP Problem Details object, as defined in IETF RFC 7807 (https://tools.ietf.org/html/rfc7807).
      required:
      - type
      - title
      properties:
        detail:
[...]
