openapi: 3.0.0
info:
  description: X API v2 available endpoints
  version: '2.166'
  title: X API v2 Account Activity Users API
  termsOfService: https://developer.x.com/en/developer-terms/agreement-and-policy.html
  contact:
    name: X Developers
    url: https://developer.x.com/
  license:
    name: X Developer Agreement and Policy
    url: https://developer.x.com/en/developer-terms/agreement-and-policy.html
servers:
- description: X API
  url: https://api.x.com
tags:
- name: Users
  description: Endpoints related to retrieving, managing relationships of Users
  externalDocs:
    description: Find out more
    url: https://developer.twitter.com/en/docs/twitter-api/users/lookup
paths:
  /2/lists/{id}/followers:
    get:
      security:
      - BearerToken: []
      - OAuth2UserToken:
        - list.read
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Users
      summary: Get List followers
      description: Retrieves a list of Users who follow a specific List by its ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/users/follows/api-reference/get-users-id-followers
      operationId: getListsFollowers
      parameters:
      - name: id
        in: path
        description: The ID of the List.
        required: true
        schema:
          $ref: '#/components/schemas/ListId'
        style: simple
      - name: max_results
        in: query
        description: The maximum number of results.
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          format: int32
          default: 100
        style: form
      - name: pagination_token
        in: query
        description: This parameter is used to get a specified 'page' of results.
        required: false
        schema:
          $ref: '#/components/schemas/PaginationTokenLong'
        style: form
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/UserExpansionsParameter'
      - $ref: '#/components/parameters/TweetFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2ListsIdFollowersResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/lists/{id}/members:
    get:
      security:
      - BearerToken: []
      - OAuth2UserToken:
        - list.read
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Users
      summary: Get List members
      description: Retrieves a list of Users who are members of a specific List by its ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/lists/list-members/api-reference/get-users-id-list_memberships
      operationId: getListsMembers
      parameters:
      - name: id
        in: path
        description: The ID of the List.
        required: true
        schema:
          $ref: '#/components/schemas/ListId'
        style: simple
      - name: max_results
        in: query
        description: The maximum number of results.
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          format: int32
          default: 100
        style: form
      - name: pagination_token
        in: query
        description: This parameter is used to get a specified 'page' of results.
        required: false
        schema:
          $ref: '#/components/schemas/PaginationTokenLong'
        style: form
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/UserExpansionsParameter'
      - $ref: '#/components/parameters/TweetFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2ListsIdMembersResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/tweets/{id}/liking_users:
    get:
      security:
      - OAuth2UserToken:
        - like.read
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Users
      summary: Get Liking Users
      description: Retrieves a list of Users who liked a specific Post by its ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/likes/api-reference/get-tweets-id-liking_users
      operationId: getPostsLikingUsers
      parameters:
      - name: id
        in: path
        description: A single Post ID.
        required: true
        schema:
          $ref: '#/components/schemas/TweetId'
        style: simple
      - name: max_results
        in: query
        description: The maximum number of results.
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          format: int32
          default: 100
        style: form
      - name: pagination_token
        in: query
        description: This parameter is used to get the next 'page' of results.
        required: false
        schema:
          $ref: '#/components/schemas/PaginationToken36'
        style: form
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/UserExpansionsParameter'
      - $ref: '#/components/parameters/TweetFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2TweetsIdLikingUsersResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/tweets/{id}/retweeted_by:
    get:
      security:
      - BearerToken: []
      - OAuth2UserToken:
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Users
      summary: Get Reposted by
      description: Retrieves a list of Users who reposted a specific Post by its ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/retweets/api-reference/get-tweets-id-retweeted_by
      operationId: getPostsRepostedBy
      parameters:
      - name: id
        in: path
        description: A single Post ID.
        required: true
        schema:
          $ref: '#/components/schemas/TweetId'
        style: simple
      - name: max_results
        in: query
        description: The maximum number of results.
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          format: int32
          default: 100
        style: form
      - name: pagination_token
        in: query
        description: This parameter is used to get the next 'page' of results.
        required: false
        schema:
          $ref: '#/components/schemas/PaginationToken36'
        style: form
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/UserExpansionsParameter'
      - $ref: '#/components/parameters/TweetFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2TweetsIdRetweetedByResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users:
    get:
      security:
      - BearerToken: []
      - OAuth2UserToken:
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Users
      summary: Get Users by IDs
      description: Retrieves details of multiple Users by their IDs.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/users/lookup/api-reference/get-users
      operationId: getUsersByIds
      parameters:
      - name: ids
        in: query
        description: A list of User IDs, comma-separated. You can specify up to 100 IDs.
        required: true
        example: 2244994945,6253282,12
        schema:
          type: array
          minItems: 1
          maxItems: 100
          items:
            $ref: '#/components/schemas/UserId'
        explode: false
        style: form
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/UserExpansionsParameter'
      - $ref: '#/components/parameters/TweetFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2UsersResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/by:
    get:
      security:
      - BearerToken: []
      - OAuth2UserToken:
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Users
      summary: Get Users by usernames
      description: Retrieves details of multiple Users by their usernames.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/users/lookup/api-reference/get-users-by
      operationId: getUsersByUsernames
      parameters:
      - name: usernames
        in: query
        description: A list of usernames, comma-separated.
        required: true
        schema:
          type: array
          minItems: 1
          maxItems: 100
          items:
            type: string
            description: The X handle (screen name) of this User.
            pattern: ^[A-Za-z0-9_]{1,15}$
          example: TwitterDev,TwitterAPI
        explode: false
        style: form
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/UserExpansionsParameter'
      - $ref: '#/components/parameters/TweetFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2UsersByResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/by/username/{username}:
    get:
      security:
      - BearerToken: []
      - OAuth2UserToken:
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Users
      summary: Get User by username
      description: Retrieves details of a specific User by their username.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/users/lookup/api-reference/get-users-by-username-username
      operationId: getUsersByUsername
      parameters:
      - name: username
        in: path
        description: A username.
        required: true
        example: TwitterDev
        schema:
          type: string
          pattern: ^[A-Za-z0-9_]{1,15}$
        style: simple
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/UserExpansionsParameter'
      - $ref: '#/components/parameters/TweetFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2UsersByUsernameUsernameResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/me:
    get:
      security:
      - OAuth2UserToken:
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Users
      summary: Get my User
      description: Retrieves details of the authenticated user.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/users/lookup/api-reference/get-users-me
      operationId: getUsersMe
      parameters:
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/UserExpansionsParameter'
      - $ref: '#/components/parameters/TweetFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2UsersMeResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/public_keys:
    get:
      security:
      - OAuth2UserToken:
        - dm.read
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Users
      summary: Get public keys for multiple users
      description: Returns the public keys and Juicebox configuration for the specified users.
      externalDocs:
        url: https://developer.x.com/
      operationId: getUsersPublicKeys
      parameters:
      - name: ids
        in: query
        description: A list of User IDs, comma-separated. You can specify up to 100 IDs.
        required: true
        example: 2244994945,6253282,12
        schema:
          type: array
          minItems: 1
          maxItems: 100
          items:
            $ref: '#/components/schemas/UserId'
        explode: false
        style: form
      - $ref: '#/components/parameters/PublicKeyFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2UsersPublicKeysResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/reposts_of_me:
    get:
      security:
      - OAuth2UserToken:
        - timeline.read
        - tweet.read
      - UserToken: []
      tags:
      - Users
      summary: Get Reposts of me
      description: Retrieves a list of Posts that repost content from the authenticated user.
      externalDocs:
        url: https://docs.x.com/x-api/posts/retweets/quickstart/retweets-of-me#retweets-of-me
      operationId: getUsersRepostsOfMe
      parameters:
      - name: max_results
        in: query
        description: The maximum number of results.
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          format: int32
          default: 100
        style: form
      - name: pagination_token
        in: query
        description: This parameter is used to get the next 'page' of results.
        required: false
        schema:
          $ref: '#/components/schemas/PaginationToken36'
        style: form
      - $ref: '#/components/parameters/TweetFieldsParameter'
      - $ref: '#/components/parameters/TweetExpansionsParameter'
      - $ref: '#/components/parameters/MediaFieldsParameter'
      - $ref: '#/components/parameters/PollFieldsParameter'
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/PlaceFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2UsersRepostsOfMeResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/search:
    get:
      security:
      - OAuth2UserToken:
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Users
      summary: Search Users
      description: Retrieves a list of Users matching a search query.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/users/lookup/api-reference/get-users-search
      operationId: searchUsers
      parameters:
      - name: query
        in: query
        description: TThe the query string by which to query for users.
        required: true
        example: someXUser
        schema:
          $ref: '#/components/schemas/UserSearchQueryVnext'
        style: form
      - name: max_results
        in: query
        description: The maximum number of results.
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          format: int32
          default: 100
        style: form
      - name: next_token
        in: query
        description: This parameter is used to get the next 'page' of results. The value used with the parameter is pulled directly from the response provided by the API, and should not be modified.
        required: false
        schema:
          $ref: '#/components/schemas/PaginationToken36'
        style: form
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/UserExpansionsParameter'
      - $ref: '#/components/parameters/TweetFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2UsersSearchResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}:
    get:
      security:
      - BearerToken: []
      - OAuth2UserToken:
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Users
      summary: Get User by ID
      description: Retrieves details of a specific User by their ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/users/lookup/api-reference/get-users-id
      operationId: getUsersById
      parameters:
      - name: id
        in: path
        description: The ID of the User to lookup.
        required: true
        example: '2244994945'
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/UserExpansionsParameter'
      - $ref: '#/components/parameters/TweetFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2UsersIdResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/affiliates:
    get:
      security:
      - BearerToken: []
      - OAuth2UserToken:
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Users
      summary: Get affiliates
      description: Retrieves a list of Users who are affiliated with a specific organization User by their ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/users/affiliates/api-reference/get-users-id-affiliates
      operationId: getUsersAffiliates
      parameters:
      - name: id
        in: path
        description: The ID of the User to lookup.
        required: true
        example: '2244994945'
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - name: max_results
        in: query
        description: The maximum number of results.
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          format: int32
        style: form
      - name: pagination_token
        in: query
        description: This parameter is used to get a specified 'page' of results.
        required: false
        schema:
          $ref: '#/components/schemas/PaginationTokenLong'
        style: form
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/UserExpansionsParameter'
      - $ref: '#/components/parameters/TweetFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2UsersIdAffiliatesResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/blocking:
    get:
      security:
      - OAuth2UserToken:
        - block.read
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Users
      summary: Get blocking
      description: Retrieves a list of Users blocked by the specified User ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/users/blocks/api-reference/get-users-blocking
      operationId: getUsersBlocking
      parameters:
      - name: id
        in: path
        description: The ID of the authenticated source User for whom to return results.
        required: true
        schema:
          $ref: '#/components/schemas/UserIdMatchesAuthenticatedUser'
        style: simple
      - name: max_results
        in: query
        description: The maximum number of results.
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          format: int32
        style: form
      - name: pagination_token
        in: query
        description: This parameter is used to get a specified 'page' of results.
        required: false
        schema:
          $ref: '#/components/schemas/PaginationToken32'
        style: form
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/UserExpansionsParameter'
      - $ref: '#/components/parameters/TweetFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2UsersIdBlockingResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/bookmarks:
    get:
      security:
      - OAuth2UserToken:
        - bookmark.read
        - tweet.read
        - users.read
      tags:
      - Users
      summary: Get Bookmarks
      description: Retrieves a list of Posts bookmarked by the authenticated user.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/bookmarks/api-reference/get-users-id-bookmarks
      operationId: getUsersBookmarks
      parameters:
      - name: id
        in: path
        description: The ID of the authenticated source User for whom to return results.
        required: true
        schema:
          $ref: '#/components/schemas/UserIdMatchesAuthenticatedUser'
        style: simple
      - name: max_results
        in: query
        description: The maximum number of results.
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          format: int32
        style: form
      - name: pagination_token
        in: query
        description: This parameter is used to get the next 'page' of results.
        required: false
        schema:
          $ref: '#/components/schemas/PaginationToken36'
        style: form
      - $ref: '#/components/parameters/TweetFieldsParameter'
      - $ref: '#/components/parameters/TweetExpansionsParameter'
      - $ref: '#/components/parameters/MediaFieldsParameter'
      - $ref: '#/components/parameters/PollFieldsParameter'
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/PlaceFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2UsersIdBookmarksResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    post:
      security:
      - OAuth2UserToken:
        - bookmark.write
        - tweet.read
        - users.read
      tags:
      - Users
      summary: Create Bookmark
      description: Adds a post to the authenticated user’s bookmarks.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/bookmarks/api-reference/post-users-id-bookmarks
      operationId: createUsersBookmark
      parameters:
      - name: id
        in: path
        description: The ID of the authenticated source User for whom to add bookmarks.
        required: true
        schema:
          $ref: '#/components/schemas/UserIdMatchesAuthenticatedUser'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookmarkAddRequest'
        required: true
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookmarkMutationResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/bookmarks/folders:
    get:
      security:
      - OAuth2UserToken:
        - bookmark.read
        - users.read
      tags:
      - Users
      summary: Get Bookmark folders
      description: Retrieves a list of Bookmark folders created by the authenticated user.
      externalDocs:
        url: https://developer.x.com
      operationId: getUsersBookmarkFolders
      parameters:
      - name: id
        in: path
        description: The ID of the authenticated source User for whom to return results.
        required: true
        schema:
          $ref: '#/components/schemas/UserIdMatchesAuthenticatedUser'
        style: simple
      - name: max_results
        in: query
        description: The maximum number of results.
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          format: int32
        style: form
      - name: pagination_token
        in: query
        description: This parameter is used to get the next 'page' of results.
        required: false
        schema:
          $ref: '#/components/schemas/PaginationToken36'
        style: form
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookmarkFoldersResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/bookmarks/folders/{folder_id}:
    get:
      security:
      - OAuth2UserToken:
        - bookmark.read
        - tweet.read
        - users.read
      tags:
      - Users
      summary: Get Bookmarks by folder ID
      description: Retrieves Posts in a specific Bookmark folder by its ID for the authenticated user.
      externalDocs:
        url: https://developer.x.com
      operationId: getUsersBookmarksByFolderId
      parameters:
      - name: id
        in: path
        description: The ID of the authenticated source User for whom to return results.
        required: true
        schema:
          $ref: '#/components/schemas/UserIdMatchesAuthenticatedUser'
        style: simple
      - name: folder_id
        in: path
        description: The ID of the Bookmark Folder that the authenticated User is trying to fetch Posts for.
        required: true
        schema:
          $ref: '#/components/schemas/BookmarkFolderId'
        style: simple
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookmarkFolderPostsResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/bookmarks/{tweet_id}:
    delete:
      security:
      - OAuth2UserToken:
        - bookmark.write
        - tweet.read
        - users.read
      tags:
      - Users
      summary: Delete Bookmark
      description: Removes a Post from the authenticated user’s Bookmarks by its ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/bookmarks/api-reference/delete-users-id-bookmarks-tweet_id
      operationId: deleteUsersBookmark
      parameters:
      - name: id
        in: path
        description: The ID of the authenticated source User whose bookmark is to be removed.
        required: true
        schema:
          $ref: '#/components/schemas/UserIdMatchesAuthenticatedUser'
        style: simple
      - name: tweet_id
        in: path
        description: The ID of the Post that the source User is removing from bookmarks.
        required: true
        schema:
          $ref: '#/components/schemas/TweetId'
        style: simple
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookmarkMutationResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/dm/block:
    post:
      security:
      - OAuth2UserToken:
        - dm.write
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Users
      summary: Block DMs
      description: Blocks direct messages to or from a specific User by their ID for the authenticated user.
      externalDocs:
        url: https://developer.x.com/
      operationId: blockUsersDms
      parameters:
      - name: id
        in: path
        description: The ID of the target User that the authenticated user requesting to block dms for.
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersDMBlockCreateResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/dm/unblock:
    post:
      security:
      - OAuth2UserToken:
        - dm.write
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Users
      summary: Unblock DMs
      description: Unblocks direct messages to or from a specific User by their ID for the authenticated user.
      externalDocs:
        url: https://developer.x.com/
      operationId: unblockUsersDms
      parameters:
      - name: id
        in: path
        description: The ID of the target User that the authenticated user requesting to unblock dms for.
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersDMUnBlockCreateResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/followed_lists:
    get:
      security:
      - BearerToken: []
      - OAuth2UserToken:
        - list.read
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Users
      summary: Get followed Lists
      description: Retrieves a list of Lists followed by a specific User by their ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/lists/list-follows/api-reference/get-users-id-followed_lists
      operationId: getUsersFollowedLists
      parameters:
      - name: id
        in: path
        description: The ID of the User to lookup.
        required: true
        example: '2244994945'
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - name: max_results
        in: query
        description: The maximum number of results.
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          format: int32
          default: 100
        style: form
      - name: pagination_token
        in: query
        description: This parameter is used to get a specified 'page' of results.
        required: false
        schema:
          $ref: '#/components/schemas/PaginationTokenLong'
        style: form
      - $ref: '#/components/parameters/ListFieldsParameter'
      - $ref: '#/components/parameters/ListExpansionsParameter'
      - $ref: '#/components/parameters/UserFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2UsersIdFollowedListsResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    post:
      security:
      - OAuth2UserToken:
        - list.write
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Users
      summary: Follow List
      description: Causes the authenticated user to follow a specific List by its ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/lists/list-follows/api-reference/post-users-id-followed-lists
      operationId: followList
      parameters:
      - name: id
        in: path
        description: The ID of the authenticated source User that will follow the List.
        required: true
        schema:
          $ref: '#/components/schemas/UserIdMatchesAuthenticatedUser'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListFollowedRequest'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFollowedResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/followed_lists/{list_id}:
    delete:
      security:
      - OAuth2UserToken:
        - list.write
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Users
      summary: Unfollow List
      description: Causes the authenticated user to unfollow a specific List by its ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/lists/list-follows/api-reference/delete-users-id-followed-lists-list_id
      operationId: unfollowList
      parameters:
      - name: id
        in: path
        description: The ID of the authenticated source User that will unfollow the List.
        required: true
        schema:
          $ref: '#/components/schemas/UserIdMatchesAuthenticatedUser'
        style: simple
      - name: list_id
        in: path
        description: The ID of the List to unfollow.
        required: true
        schema:
          $ref: '#/components/schemas/ListId'
        style: simple
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFollowedResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/followers:
    get:
      security:
      - BearerToken: []
      - OAuth2UserToken:
        - follows.read
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Users
      summary: Get followers
      description: Retrieves a list of Users who follow a specific User by their ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/users/follows/api-reference/get-users-id-followers
      operationId: getUsersFollowers
      parameters:
      - name: id
        in: path
        description: The ID of the User to lookup.
        required: true
        example: '2244994945'
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - name: max_results
        in: query
        description: The maximum number of results.
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          format: int32
        style: form
      - name: pagination_token
        in: query
        description: This parameter is used to get a specified 'page' of results.
        required: false
        schema:
          $ref: '#/components/schemas/PaginationToken32'
        style: form
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/UserExpansionsParameter'
      - $ref: '#/components/parameters/TweetFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2UsersIdFollowersResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/following:
    get:
      security:
      - BearerToken: []
      - OAuth2UserToken:
        - follows.read
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Users
      summary: Get following
      description: Retrieves a list of Users followed by a specific User by their ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/users/follows/api-reference/get-users-id-following
      operationId: getUsersFollowing
      parameters:
      - name: id
        in: path
        description: The ID of the User to lookup.
        required: true
        example: '2244994945'
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - name: max_results
        in: query
        description: The maximum number of results.
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          format: int32
        style: form
      - name: pagination_token
        in: query
        description: This parameter is used to get a specified 'page' of results.
        required: false
        schema:
          $ref: '#/components/schemas/PaginationToken32'
        style: form
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/UserExpansionsParameter'
      - $ref: '#/components/parameters/TweetFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2UsersIdFollowingResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    post:
      security:
      - OAuth2UserToken:
        - follows.write
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Users
      summary: Follow User
      description: Causes the authenticated user to follow a specific user by their ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/users/follows/api-reference/post-users-source_user_id-following
      operationId: followUser
      parameters:
      - name: id
        in: path
        description: The ID of the authenticated source User that is requesting to follow the target User.
        required: true
        schema:
          $ref: '#/components/schemas/UserIdMatchesAuthenticatedUser'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersFollowingCreateRequest'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersFollowingCreateResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/liked_tweets:
    get:
      security:
      - OAuth2UserToken:
        - like.read
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Users
      summary: Get liked Posts
      description: Retrieves a list of Posts liked by a specific User by their ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/likes/api-reference/get-users-id-liked_tweets
      operationId: getUsersLikedPosts
      parameters:
      - name: id
        in: path
        description: The ID of the User to lookup.
        required: true
        example: '2244994945'
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - name: max_results
        in: query
        description: The maximum number of results.
        required: false
        schema:
          type: integer
          minimum: 5
          maximum: 100
          format: int32
        style: form
      - name: pagination_token
        in: query
        description: This parameter is used to get the next 'page' of results.
        required: false
        schema:
          $ref: '#/components/schemas/PaginationToken36'
        style: form
      - $ref: '#/components/parameters/TweetFieldsParameter'
      - $ref: '#/components/parameters/TweetExpansionsParameter'
      - $ref: '#/components/parameters/MediaFieldsParameter'
      - $ref: '#/components/parameters/PollFieldsParameter'
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/PlaceFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2UsersIdLikedTweetsResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/likes:
    post:
      security:
      - OAuth2UserToken:
        - like.write
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Users
      summary: Like Post
      description: Causes the authenticated user to Like a specific Post by its ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/likes/api-reference/post-users-id-likes
      operationId: likePost
      parameters:
      - name: id
        in: path
        description: The ID of the authenticated source User that is requesting to like the Post.
        required: true
        schema:
          $ref: '#/components/schemas/UserIdMatchesAuthenticatedUser'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersLikesCreateRequest'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersLikesCreateResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/likes/{tweet_id}:
    delete:
      security:
      - OAuth2UserToken:
        - like.write
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Users
      summary: Unlike Post
      description: Causes the authenticated user to Unlike a specific Post by its ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/likes/api-reference/delete-users-id-likes-tweet_id
      operationId: unlikePost
      parameters:
      - name: id
        in: path
        description: The ID of the authenticated source User that is requesting to unlike the Post.
        required: true
        schema:
          $ref: '#/components/schemas/UserIdMatchesAuthenticatedUser'
        style: simple
      - name: tweet_id
        in: path
        description: The ID of the Post that the User is requesting to unlike.
        required: true
        schema:
          $ref: '#/components/schemas/TweetId'
        style: simple
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersLikesDeleteResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/list_memberships:
    get:
      security:
      - BearerToken: []
      - OAuth2UserToken:
        - list.read
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Users
      summary: Get List memberships
      description: Retrieves a list of Lists that a specific User is a member of by their ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/lists/list-members/api-reference/get-users-id-list_memberships
      operationId: getUsersListMemberships
      parameters:
      - name: id
        in: path
        description: The ID of the User to lookup.
        required: true
        example: '2244994945'
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - name: max_results
        in: query
        description: The maximum number of results.
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          format: int32
          default: 100
        style: form
      - name: pagination_token
        in: query
        description: This parameter is used to get a specified 'page' of results.
        required: false
        schema:
          $ref: '#/components/schemas/PaginationTokenLong'
        style: form
      - $ref: '#/components/parameters/ListFieldsParameter'
      - $ref: '#/components/parameters/ListExpansionsParameter'
      - $ref: '#/components/parameters/UserFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2UsersIdListMembershipsResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/mentions:
    get:
      security:
      - BearerToken: []
      - OAuth2UserToken:
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Users
      summary: Get mentions
      description: Retrieves a list of Posts that mention a specific User by their ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/timelines/api-reference/get-users-id-mentions
      operationId: getUsersMentions
      parameters:
      - name: id
        in: path
        description: The ID of the User to lookup.
        required: true
        example: '2244994945'
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - name: since_id
        in: query
        description: The minimum Post ID to be included in the result set. This parameter takes precedence over start_time if both are specified.
        required: false
        schema:
          $ref: '#/components/schemas/TweetId'
        style: form
      - name: until_id
        in: query
        description: The maximum Post ID to be included in the result set. This parameter takes precedence over end_time if both are specified.
        required: false
        example: '1346889436626259968'
        schema:
          $ref: '#/components/schemas/TweetId'
        style: form
      - name: max_results
        in: query
        description: The maximum number of results.
        required: false
        schema:
          type: integer
          minimum: 5
          maximum: 100
          format: int32
        style: form
      - name: pagination_token
        in: query
        description: This parameter is used to get the next 'page' of results.
        required: false
        schema:
          $ref: '#/components/schemas/PaginationToken36'
        style: form
      - name: start_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The earliest UTC timestamp from which the Posts will be provided. The since_id parameter takes precedence if it is also specified.
        required: false
        example: '2021-02-01T18:40:40.000Z'
        schema:
          type: string
          format: date-time
        style: form
      - name: end_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The latest UTC timestamp to which the Posts will be provided. The until_id parameter takes precedence if it is also specified.
        required: false
        example: '2021-02-14T18:40:40.000Z'
        schema:
          type: string
          format: date-time
        style: form
      - $ref: '#/components/parameters/TweetFieldsParameter'
      - $ref: '#/components/parameters/TweetExpansionsParameter'
      - $ref: '#/components/parameters/MediaFieldsParameter'
      - $ref: '#/components/parameters/PollFieldsParameter'
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/PlaceFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2UsersIdMentionsResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/muting:
    get:
      security:
      - OAuth2UserToken:
        - mute.read
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Users
      summary: Get muting
      description: Retrieves a list of Users muted by the authenticated user.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/users/mutes/api-reference/get-users-muting
      operationId: getUsersMuting
      parameters:
      - name: id
        in: path
        description: The ID of the authenticated source User for whom to return results.
        required: true
        schema:
          $ref: '#/components/schemas/UserIdMatchesAuthenticatedUser'
        style: simple
      - name: max_results
        in: query
        description: The maximum number of results.
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          format: int32
          default: 100
        style: form
      - name: pagination_token
        in: query
        description: This parameter is used to get the next 'page' of results.
        required: false
        schema:
          $ref: '#/components/schemas/PaginationTokenLong'
        style: form
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/UserExpansionsParameter'
      - $ref: '#/components/parameters/TweetFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2UsersIdMutingResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    post:
      security:
      - OAuth2UserToken:
        - mute.write
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Users
      summary: Mute User
      description: Causes the authenticated user to mute a specific User by their ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/users/mutes/api-reference/post-users-user_id-muting
      operationId: muteUser
      parameters:
      - name: id
        in: path
        description: The ID of the authenticated source User that is requesting to mute the target User.
        required: true
        schema:
          $ref: '#/components/schemas/UserIdMatchesAuthenticatedUser'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MuteUserRequest'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MuteUserMutationResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/owned_lists:
    get:
      security:
      - BearerToken: []
      - OAuth2UserToken:
        - list.read
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Users
      summary: Get owned Lists
      description: Retrieves a list of Lists owned by a specific User by their ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/lists/list-lookup/api-reference/get-users-id-owned_lists
      operationId: getUsersOwnedLists
      parameters:
      - name: id
        in: path
        description: The ID of the User to lookup.
        required: true
        example: '2244994945'
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - name: max_results
        in: query
        description: The maximum number of results.
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          format: int32
          default: 100
        style: form
      - name: pagination_token
        in: query
        description: This parameter is used to get a specified 'page' of results.
        required: false
        schema:
          $ref: '#/components/schemas/PaginationTokenLong'
        style: form
      - $ref: '#/components/parameters/ListFieldsParameter'
      - $ref: '#/components/parameters/ListExpansionsParameter'
      - $ref: '#/components/parameters/UserFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2UsersIdOwnedListsResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/pinned_lists:
    get:
      security:
      - OAuth2UserToken:
        - list.read
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Users
      summary: Get pinned Lists
      description: Retrieves a list of Lists pinned by the authenticated user.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/lists/pinned-lists/api-reference/get-users-id-pinned_lists
      operationId: getUsersPinnedLists
      parameters:
      - name: id
        in: path
        description: The ID of the authenticated source User for whom to return results.
        required: true
        schema:
          $ref: '#/components/schemas/UserIdMatchesAuthenticatedUser'
        style: simple
      - $ref: '#/components/parameters/ListFieldsParameter'
      - $ref: '#/components/parameters/ListExpansionsParameter'
      - $ref: '#/components/parameters/UserFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2UsersIdPinnedListsResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    post:
      security:
      - OAuth2UserToken:
        - list.write
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Users
      summary: Pin List
      description: Causes the authenticated user to pin a specific List by its ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/lists/pinned-lists/api-reference/post-users-id-pinned-lists
      operationId: pinList
      parameters:
      - name: id
        in: path
        description: The ID of the authenticated source User that will pin the List.
        required: true
        schema:
          $ref: '#/components/schemas/UserIdMatchesAuthenticatedUser'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListPinnedRequest'
        required: true
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPinnedResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/pinned_lists/{list_id}:
    delete:
      security:
      - OAuth2UserToken:
        - list.write
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Users
      summary: Unpin List
      description: Causes the authenticated user to unpin a specific List by its ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/lists/pinned-lists/api-reference/delete-users-id-pinned-lists-list_id
      operationId: unpinList
      parameters:
      - name: id
        in: path
        description: The ID of the authenticated source User for whom to return results.
        required: true
        schema:
          $ref: '#/components/schemas/UserIdMatchesAuthenticatedUser'
        style: simple
      - name: list_id
        in: path
        description: The ID of the List to unpin.
        required: true
        schema:
          $ref: '#/components/schemas/ListId'
        style: simple
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUnpinResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/public_keys:
    get:
      security:
      - OAuth2UserToken:
        - dm.read
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Users
      summary: Get user public keys
      description: Returns the public keys and Juicebox configuration for the specified user.
      externalDocs:
        url: https://developer.x.com/
      operationId: getUsersPublicKey
      parameters:
      - name: id
        in: path
        description: The ID of the User to lookup.
        required: true
        example: '2244994945'
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - $ref: '#/components/parameters/PublicKeyFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2UsersIdPublicKeysResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/retweets:
    post:
      security:
      - OAuth2UserToken:
        - tweet.read
        - tweet.write
        - users.read
      - UserToken: []
      tags:
      - Users
      summary: Repost Post
      description: Causes the authenticated user to repost a specific Post by its ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/retweets/api-reference/post-users-id-retweets
      operationId: repostPost
      parameters:
      - name: id
        in: path
        description: The ID of the authenticated source User that is requesting to repost the Post.
        required: true
        schema:
          $ref: '#/components/schemas/UserIdMatchesAuthenticatedUser'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersRetweetsCreateRequest'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersRetweetsCreateResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/retweets/{source_tweet_id}:
    delete:
      security:
      - OAuth2UserToken:
        - tweet.read
        - tweet.write
        - users.read
      - UserToken: []
      tags:
      - Users
      summary: Unrepost Post
      description: Causes the authenticated user to unrepost a specific Post by its ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/retweets/api-reference/delete-users-id-retweets-tweet_id
      operationId: unrepostPost
      parameters:
      - name: id
        in: path
        description: The ID of the authenticated source User that is requesting to repost the Post.
        required: true
        schema:
          $ref: '#/components/schemas/UserIdMatchesAuthenticatedUser'
        style: simple
      - name: source_tweet_id
        in: path
        description: The ID of the Post that the User is requesting to unretweet.
        required: true
        schema:
          $ref: '#/components/schemas/TweetId'
        style: simple
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersRetweetsDeleteResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/timelines/reverse_chronological:
    get:
      security:
      - OAuth2UserToken:
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Users
      summary: Get Timeline
      description: Retrieves a reverse chronological list of Posts in the authenticated User’s Timeline.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/timelines/api-reference/get-users-id-reverse-chronological
      operationId: getUsersTimeline
      parameters:
      - name: id
        in: path
        description: The ID of the authenticated source User to list Reverse Chronological Timeline Posts of.
        required: true
        schema:
          $ref: '#/components/schemas/UserIdMatchesAuthenticatedUser'
        style: simple
      - name: since_id
        in: query
        description: The minimum Post ID to be included in the result set. This parameter takes precedence over start_time if both are specified.
        required: false
        example: '791775337160081409'
        schema:
          $ref: '#/components/schemas/TweetId'
        style: form
      - name: until_id
        in: query
        description: The maximum Post ID to be included in the result set. This parameter takes precedence over end_time if both are specified.
        required: false
        example: '1346889436626259968'
        schema:
          $ref: '#/components/schemas/TweetId'
        style: form
      - name: max_results
        in: query
        description: The maximum number of results.
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          format: int32
        style: form
      - name: pagination_token
        in: query
        description: This parameter is used to get the next 'page' of results.
        required: false
        schema:
          $ref: '#/components/schemas/PaginationToken36'
        style: form
      - name: exclude
        in: query
        description: The set of entities to exclude (e.g. 'replies' or 'retweets').
        required: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            enum:
            - replies
            - retweets
          example:
          - replies
          - retweets
        explode: false
        style: form
      - name: start_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The earliest UTC timestamp from which the Posts will be provided. The since_id parameter takes precedence if it is also specified.
        required: false
        example: '2021-02-01T18:40:40.000Z'
        schema:
          type: string
          format: date-time
        style: form
      - name: end_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The latest UTC timestamp to which the Posts will be provided. The until_id parameter takes precedence if it is also specified.
        required: false
        example: '2021-02-14T18:40:40.000Z'
        schema:
          type: string
          format: date-time
        style: form
      - $ref: '#/components/parameters/TweetFieldsParameter'
      - $ref: '#/components/parameters/TweetExpansionsParameter'
      - $ref: '#/components/parameters/MediaFieldsParameter'
      - $ref: '#/components/parameters/PollFieldsParameter'
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/PlaceFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2UsersIdTimelinesReverseChronologicalResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{id}/tweets:
    get:
      security:
      - BearerToken: []
      - OAuth2UserToken:
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Users
      summary: Get Posts
      description: Retrieves a list of posts authored by a specific User by their ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/timelines/api-reference/get-users-id-tweets
      operationId: getUsersPosts
      parameters:
      - name: id
        in: path
        description: The ID of the User to lookup.
        required: true
        example: '2244994945'
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - name: since_id
        in: query
        description: The minimum Post ID to be included in the result set. This parameter takes precedence over start_time if both are specified.
        required: false
        example: '791775337160081409'
        schema:
          $ref: '#/components/schemas/TweetId'
        style: form
      - name: until_id
        in: query
        description: The maximum Post ID to be included in the result set. This parameter takes precedence over end_time if both are specified.
        required: false
        example: '1346889436626259968'
        schema:
          $ref: '#/components/schemas/TweetId'
        style: form
      - name: max_results
        in: query
        description: The maximum number of results.
        required: false
        schema:
          type: integer
          minimum: 5
          maximum: 100
          format: int32
        style: form
      - name: pagination_token
        in: query
        description: This parameter is used to get the next 'page' of results.
        required: false
        schema:
          $ref: '#/components/schemas/PaginationToken36'
        style: form
      - name: exclude
        in: query
        description: The set of entities to exclude (e.g. 'replies' or 'retweets').
        required: false
        schema:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum:
            - replies
            - retweets
          example:
          - replies
          - retweets
        explode: false
        style: form
      - name: start_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The earliest UTC timestamp from which the Posts will be provided. The since_id parameter takes precedence if it is also specified.
        required: false
        example: '2021-02-01T18:40:40.000Z'
        schema:
          type: string
          format: date-time
        style: form
      - name: end_time
        in: query
        description: YYYY-MM-DDTHH:mm:ssZ. The latest UTC timestamp to which the Posts will be provided. The until_id parameter takes precedence if it is also specified.
        required: false
        example: '2021-02-14T18:40:40.000Z'
        schema:
          type: string
          format: date-time
        style: form
      - $ref: '#/components/parameters/TweetFieldsParameter'
      - $ref: '#/components/parameters/TweetExpansionsParameter'
      - $ref: '#/components/parameters/MediaFieldsParameter'
      - $ref: '#/components/parameters/PollFieldsParameter'
      - $ref: '#/components/parameters/UserFieldsParameter'
      - $ref: '#/components/parameters/PlaceFieldsParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2UsersIdTweetsResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{source_user_id}/following/{target_user_id}:
    delete:
      security:
      - OAuth2UserToken:
        - follows.write
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Users
      summary: Unfollow User
      description: Causes the authenticated user to unfollow a specific user by their ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/users/follows/api-reference/delete-users-source_id-following
      operationId: unfollowUser
      parameters:
      - name: source_user_id
        in: path
        description: The ID of the authenticated source User that is requesting to unfollow the target User.
        required: true
        schema:
          $ref: '#/components/schemas/UserIdMatchesAuthenticatedUser'
        style: simple
      - name: target_user_id
        in: path
        description: The ID of the User that the source User is requesting to unfollow.
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersFollowingDeleteResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /2/users/{source_user_id}/muting/{target_user_id}:
    delete:
      security:
      - OAuth2UserToken:
        - mute.write
        - tweet.read
        - users.read
      - UserToken: []
      tags:
      - Users
      summary: Unmute User
      description: Causes the authenticated user to unmute a specific user by their ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/users/mutes/api-reference/delete-users-user_id-muting
      operationId: unmuteUser
      parameters:
      - name: source_user_id
        in: path
        description: The ID of the authenticated source User that is requesting to unmute the target User.
        required: true
        schema:
          $ref: '#/components/schemas/UserIdMatchesAuthenticatedUser'
        style: simple
      - name: target_user_id
        in: path
        description: The ID of the User that the source User is requesting to unmute.
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MuteUserMutationResponse'
        default:
          description: The request has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
components:
  schemas:
    HashtagEntity:
      allOf:
      - $ref: '#/components/schemas/EntityIndicesInclusiveExclusive'
      - $ref: '#/components/schemas/HashtagFields'
    Get2UsersIdFollowingResponse:
      type: object
      properties:
        data:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/User'
        errors:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/Problem'
        includes:
          $ref: '#/components/schemas/Expansions'
        meta:
          type: object
          properties:
            next_token:
              $ref: '#/components/schemas/NextToken'
            previous_token:
              $ref: '#/components/schemas/PreviousToken'
            result_count:
              $ref: '#/components/schemas/ResultCount'
    PaginationToken36:
      type: string
      description: A base36 pagination token.
      minLength: 1
    User:
      type: object
      description: The X User object.
      required:
      - id
      - name
      - username
      properties:
        affiliation:
          type: object
          description: Metadata about a user's affiliation.
          properties:
            badge_url:
              type: string
              description: The badge URL corresponding to the affiliation.
              format: uri
            description:
              type: string
              description: The description of the affiliation.
            url:
              type: string
              description: The URL, if available, to details about an affiliation.
              format: uri
            user_id:
              type: array
              minItems: 1
              items:
                $ref: '#/components/schemas/UserId'
        connection_status:
          type: array
          description: Returns detailed information about the relationship between two users.
          minItems: 0
          items:
            type: string
            description: Type of connection between users.
            enum:
            - follow_request_received
            - follow_request_sent
            - blocking
            - followed_by
            - following
            - muting
        created_at:
          type: string
          description: Creation time of this User.
          format: date-time
        description:
          type: string
          description: The text of this User's profile description (also known as bio), if the User provided one.
        entities:
          type: object
          description: A list of metadata found in the User's profile description.
          properties:
            description:
              $ref: '#/components/schemas/FullTextEntities'
            url:
              type: object
              description: Expanded details for the URL specified in the User's profile, with start and end indices.
              properties:
                urls:
                  type: array
                  minItems: 1
                  items:
                    $ref: '#/components/schemas/UrlEntity'
        id:
          $ref: '#/components/schemas/UserId'
        location:
          type: string
          description: The location specified in the User's profile, if the User provided one. As this is a freeform value, it may not indicate a valid location, but it may be fuzzily evaluated when performing searches with location queries.
        most_recent_tweet_id:
          $ref: '#/components/schemas/TweetId'
        name:
          type: string
          description: The friendly name of this User, as shown on their profile.
        pinned_tweet_id:
          $ref: '#/components/schemas/TweetId'
        profile_banner_url:
          type: string
          description: The URL to the profile banner for this User.
          format: uri
        profile_image_url:
          type: string
          description: The URL to the profile image for this User.
          format: uri
        protected:
          type: boolean
          description: Indicates if this User has chosen to protect their Posts (in other words, if this User's Posts are private).
        public_metrics:
          type: object
          description: A list of metrics for this User.
          required:
          - followers_count
          - following_count
          - tweet_count
          - listed_count
          properties:
            followers_count:
              type: integer
              description: Number of Users who are following this User.
            following_count:
              type: integer
              description: Number of Users this User is following.
            like_count:
              type: integer
              description: The number of likes created by this User.
            listed_count:
              type: integer
              description: The number of lists that include this User.
            tweet_count:
              type: integer
              description: The number of Posts (including Retweets) posted by this User.
        receives_your_dm:
          type: boolean
          description: Indicates if you can send a DM to this User
        subscription_type:
          type: string
          description: 'The X Blue subscription type of the user, eg: Basic, Premium, PremiumPlus or None.'
          enum:
          - Basic
          - Premium
          - PremiumPlus
          - None
        url:
          type: string
          description: The URL specified in the User's profile.
        username:
          $ref: '#/components/schemas/UserName'
        verified:
          type: boolean
          description: Indicate if this User is a verified X User.
        verified_type:
          type: string
          description: 'The X Blue verified type of the user, eg: blue, government, business or none.'
          enum:
          - blue
          - government
          - business
          - none
        withheld:
          $ref: '#/components/schemas/UserWithheld'
      example:
        created_at: '2013-12-14T04:35:55Z'
        id: '2244994945'
        name: X Dev
        protected: false
        username: TwitterDev
    Get2UsersIdListMembershipsResponse:
      type: object
      properties:
        data:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/List'
        errors:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/Problem'
        includes:
          $ref: '#/components/schemas/Expansions'
        meta:
          type: object
          properties:
            next_token:
              $ref: '#/components/schemas/NextToken'
            previous_token:
              $ref: '#/components/schemas/PreviousToken'
            result_count:
              $ref: '#/components/schemas/ResultCount'
    ContextAnnotation:
      type: object
      description: Annotation inferred from the Tweet text.
      required:
      - domain
      - entity
      properties:
        domain:
          $ref: '#/components/schemas/ContextAnnotationDomainFields'
        entity:
          $ref: '#/components/schemas/ContextAnnotationEntityFields'
    Get2UsersIdBookmarksResponse:
      type: object
      properties:
        data:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/Tweet'
        errors:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/Problem'
        includes:
          $ref: '#/components/schemas/Expansions'
        meta:
          type: object
          properties:
            next_token:
              $ref: '#/components/schemas/NextToken'
            previous_token:
              $ref: '#/components/schemas/PreviousToken'
            result_count:
              $ref: '#/components/schemas/ResultCount'
    ListPinnedRequest:
      type: object
      required:
      - list_id
      properties:
        list_id:
          $ref: '#/components/schemas/ListId'
    MuteUserMutationResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            muting:
              type: boolean
        errors:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/Problem'
    Problem:
      type: object
      description: An HTTP Problem Details object, as defined in IETF RFC 7807 (https://tools.ietf.org/html/rfc7807).
      required:
      - type
      - title
      properties:
        detail:
          type: string
        status:
          type: integer
        title:
          type: string
        type:
          type: string
      discriminator:
        propertyName: type
        mapping:
          about:blank: '#/components/schemas/GenericProblem'
          https://api.twitter.com/2/problems/client-disconnected: '#/components/schemas/ClientDisconnectedProblem'
          https://api.twitter.com/2/problems/client-forbidden: '#/components/schemas/ClientForbiddenProblem'
          https://api.twitter.com/2/problems/conflict: '#/components/schemas/ConflictProblem'
          https://api.twitter.com/2/problems/disallowed-resource: '#/components/schemas/DisallowedResourceProblem'
          https://api.twitter.com/2/problems/duplicate-rules: '#/components/schemas/DuplicateRuleProblem'
          https://api.twitter.com/2/problems/invalid-request: '#/components/schemas/InvalidRequestProblem'
          https://api.twitter.com/2/problems/invalid-rules: '#/components/schemas/InvalidRuleProblem'
          https://api.twitter.com/2/problems/noncompliant-rules: '#/components/schemas/NonCompliantRulesProblem'
          https://api.twitter.com/2/problems/not-authorized-for-field: '#/components/schemas/FieldUnauthorizedProblem'
          https://api.twitter.com/2/problems/not-authorized-for-resource: '#/components/schemas/ResourceUnauthorizedProblem'
          https://api.twitter.com/2/problems/operational-disconnect: '#/components/schemas/OperationalDisconnectProblem'
          https://api.twitter.com/2/problems/resource-not-found: '#/components/schemas/ResourceNotFoundProblem'
          https://api.twitter.com/2/problems/resource-unavailable: '#/components/schemas/ResourceUnavailableProblem'
          https://api.twitter.com/2/problems/rule-cap: '#/components/schemas/RulesCapProblem'
          https://api.twitter.com/2/problems/streaming-connection: '#/components/schemas/ConnectionExceptionProblem'
          https://api.twitter.com/2/problems/unsupported-authentication: '#/components/schemas/UnsupportedAuthenticationProblem'
          https://api.twitter.com/2/problems/usage-capped: '#/components/schemas/UsageCapExceededProblem'
    UserWithheld:
      type: object
      description: Indicates withholding details for [withheld content](https://help.twitter.com/en/rules-and-policies/tweet-withheld-by-country).
      required:
      - country_codes
      properties:
        country_codes:
          type: array
          description: Provides a list of countries where this content is not available.
          minItems: 1
          uniqueItems: true
          items:
            $ref: '#/components/schemas/CountryCode'
        scope:
          type: string
          description: Indicates that the content being withheld is a `user`.
          enum:
          - user
    Poll:
      type: object
      description: Represent a Poll attached to a Tweet.
      required:
      - id
      - options
      properties:
        duration_minutes:
          type: integer
          minimum: 5
          maximum: 10080
          format: int32
        end_datetime:
          type: string
          format: date-time
        id:
          $ref: '#/components/schemas/PollId'
        options:
          type: array
          minItems: 2
          maxItems: 4
          items:
            $ref: '#/components/schemas/PollOption'
        voting_status:
          type: string
          enum:
          - open
          - closed
    Get2UsersByResponse:
      type: object
      properties:
        data:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/User'
        errors:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/Problem'
        includes:
          $ref: '#/components/schemas/Expansions'
    BookmarkMutationResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            bookmarked:
              type: boolean
        errors:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/Problem'
    Get2UsersIdMutingResponse:
      type: object
      properties:
        data:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/User'
        errors:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/Problem'
        includes:
          $ref: '#/components/schemas/Expansions'
        meta:
          type: object
          properties:
            next_token:
              $ref: '#/components/schemas/NextToken'
            previous_token:
              $ref: '#/components/schemas/PreviousToken'
            result_count:
              $ref: '#/components/schemas/ResultCount'
    Get2UsersIdResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/User'
        errors:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/Problem'
        includes:
          $ref: '#/components/schemas/Expansions'
    UsersLikesCreateResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            liked:
              type: boolean
        errors:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/Problem'
    Point:
      type: object
      description: A [GeoJson Point](https://tools.ietf.org/html/rfc7946#section-3.1.2) geometry object.
      required:
      - type
      - coordinates
      properties:
        coordinates:
          $ref: '#/components/schemas/Position'
        type:
          type: string
          enum:
          - Point
          example: Point
    UsersRetweetsCreateResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              $ref: '#/components/schemas/TweetId'
            retweeted:
              type: boolean
        errors:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/Problem'
    Get2TweetsIdRetweetedByResponse:
      type: object
      properties:
        data:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/User'
        errors:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/Problem'
        includes:
          $ref: '#/components/schemas/Expansions'
        meta:
          type: object
          properties:
            next_token:
              $ref: '#/components/schemas/NextToken'
            previous_token:
              $ref: '#/components/schemas/PreviousToken'
            result_count:
              $ref: '#/components/schemas/ResultCount'
    Get2ListsIdMembersResponse:
      type: object
      properties:
        data:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/User'
        errors:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/Problem'
        includes:
          $ref: '#/components/schemas/Expansions'
        meta:
          type: object
          properties:
            next_token:
              $ref: '#/components/schemas/NextToken'
            previous_token:
              $ref: '#/components/schemas/PreviousToken'
            result_count:
              $ref: '#/components/schemas/ResultCount'
    Topic:
      type: object
      description: The topic of a Space, as selected by its creator.
      required:
      - id
      - name
      properties:
        description:
          type: string
          description: The description of the given topic.
          example: All about technology
        id:
          $ref: '#/components/schemas/TopicId'
        name:
          type: string
          description: The name of the given topic.
          example: Technology
    UrlFields:
      type: object
      description: Represent the portion of text recognized as a URL.
      required:
      - url
      properties:
        description:
          type: string
          description: Description of the URL landing page.
          example: This is a description of the website.
        display_url:
          type: string
          description: The URL as displayed in the X client.
          example: twittercommunity.com/t/introducing-…
        expanded_url:
          $ref: '#/components/schemas/Url'
        images:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/UrlImage'
        media_key:
          $ref: '#/components/schemas/MediaKey'
        status:
          $ref: '#/components/schemas/HttpStatusCode'
        title:
          type: string
          description: Title of the page the URL points to.
          example: Introducing the v2 follow lookup endpoints
        unwound_url:
          type: string
          description: Fully resolved url.
          format: uri
          example: https://twittercommunity.com/t/introducing-the-v2-follow-lookup-endpoints/147118
        url:
          $ref: '#/components/schemas/Url'
    EntityIndicesInclusiveExclusive:
      type: object
      description: Represent a boundary range (start and end index) for a recognized entity (for example a hashtag or a mention). `start` must be smaller than `end`.  The start index is inclusive, the end index is exclusive.
      required:
      - start
      - end
      properties:
        end:
          type: integer
          description: Index (zero-based) at which position this entity ends.  The index is exclusive.
          minimum: 0
          example: 61
        start:
          type: integer
          description: Index (zero-based) at which position this entity starts.  The index is inclusive.
          minimum: 0
          example: 50
    ListPinnedResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            pinned:
              type: boolean
        errors:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/Problem'
    List:
      type: object
      description: A X List is a curated group of accounts.
      required:
      - id
      - name
      properties:
[...]
